* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
}

.logo {
  background: #FFFFFF;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 359px) {
  .wrapper {
    width: 320px;
  }

  .main {
    width: 320px;
  }

  .logo {
    height: 30px;
    margin: 29px auto 0;
  }

  .logo img {
    width: 131px;
    height: 30px;
  }

  .imgWrapper {
    width: 320px;
    height: 325px;

    margin-top: 28px;
    margin-bottom: 27px;
  }

  .background {
    width: 320px;
    height: 325px;
  }

  .footer {
    margin-top: 14px;
  }

  .preLoader {
    width: 64px;
    height: 64px;
    margin: 50% auto;
  }
}

@media (min-width: 360px) and (max-height: 640px) {
  .wrapper {
    width: 360px;
  }

  .main {
    width: 360px;
  }

  .logo {
    height: 33px;
    margin: 43px auto 0;
  }

  .logo img {
    width: 150px;
    height: 33px;
  }

  .imgWrapper {
    width: 360px;
    height: 430px;
  }

  .background {
    width: 360px;
    height: 430px;
  }

  .footerWrapper {
    margin-top: 3px;
  }

  .preLoader {
    width: 64px;
    height: 64px;
    margin: 50% auto;
  }
}

@media (min-width: 375px) {
  .wrapper {
    width: 375px;
  }

  .main {
    width: 375px;
  }

  .logo {
    width: 375px;
    height: 36px;
    margin: 60px auto 0;
  }

  .logo img {
    width: 166px;
    height: 36px;
  }

  .imgWrapper {
    height: 423px;
    margin: 71px 0 70px;
  }

  .background {
    width: 375px;
    height: 423px;
  }

  .preLoader {
    width: 64px;
    height: 64px;
    margin: 50% auto;
  }
}
