.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.iconPosition {
  background-position: 10% 50%;
  background-repeat: no-repeat;
  padding-left: 59px;
}

.aboutMeWrapper {
  width: 345px;
}

.name {
  composes: montserrat;
  display: flex;
  margin-top: 16.5px;
}

.imgWrapper {
  padding-left: 29px;
}

.name img {
  width: 53px;
  height: 53px;
  border-radius: 50%;
}

.nameRole {
  margin-left: 17px;
}

.nameRole input {
  transform: translateY(-50%);
}

.role {
  composes: montserrat;
  display: inline-block;
  margin-top: 5px;
  font-size: 11px;
  line-height: 12px;
  color: #6A6A6A;
}

.roleIcon {
  height: 16px;
}

.row {
  width: 343px;
  border-top: 1px solid #f0f0f0;
  margin-top: 16.5px;
}

.contacts {
  composes: montserrat;
  display: flex;
  flex-direction: column;
}

.contacts span {
  transform: translateY(50%);
}

.phoneCode {
  color: #6A6A6A;
  composes: iconPosition;
  background-image: url('../../Assets/img/phone.svg');
  padding-left: 60px;
}

.phoneNumber {
  color: #262D33;
}

.emailIcon {
  color: #262D33;
  composes: iconPosition;
  background-image: url('../../Assets/img/envelope.svg');
  padding-left: 60px;
}

.buttons {
  text-align: center;
}

.btn {
  composes: montserrat;
  font-size: 14px;
  font-weight: 400;
  width: 302px;
  border: 1px solid #262D33;
  border-radius: 16px;
  padding: 13px 0;
  background: #FFFFFF;
  outline: none;
  text-decoration: none;
  color: #262D33;
  margin-top: 60px;
}

.logout {
  margin-top: 18px;
  color: #6A6A6A;
}

.inp {
  composes: montserrat;
  border: none;
  width: 200px;
}

.inp::placeholder {
  color: #262D33;
}

.inp:disabled {
  color: #000000;
  background-color: #FFFFFF;
  opacity: 1 !important;
}

.role:disabled {
  color: #262D33;
}

.email {
  width: 233px;
}

.togglePencil {
  background-image: url("../../Assets/img/pencil.svg");
  background-position: 100%;
  background-repeat: no-repeat;
}

.saveBtn {
  background: #CBF6FF;
  border: 1px solid #CBF6FF;
}

.hideSaveBtn {
  display: none;
}

.hideEditBtn {
  display: none;
}

