/* Common Styles */
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #262D33;
}

/* Main Styles */
.calendarContainer {
  composes: montserrat;
  display: block;
  border-radius: 6px;
  box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1);
}

@media (min-width: 320px) and (max-width: 374px) {
  .calendarWrapper {
    padding-bottom: 32px;
  }

  .calendarContainer {
    font-size: 12px;
    line-height: 14px;

    width: 220px;
    margin: 15px auto 0;
  }
}

@media (min-width: 375px) {
  .calendarWrapper {
    padding-bottom: 32px;
  }

  .calendarContainer {
    font-size: 13px;
    line-height: 15px;

    width: 240px;
    margin: 15px auto 0;
  }
}