.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}

.btn {
  composes: montserrat;
  text-decoration: none;
  text-align: center;

  display: inline-block;
  width: 302px;
  padding: 13px 0;

  background: #6384EB;

  border: 1px solid #6384EB;
  border-radius: 16px;
  outline: none;
}