.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.profileWrapper {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnClass {
  width: 169px;
  height: 32px;
  background: #DADADA;
  border: 1px solid #DADADA;
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #262D33;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  text-align: center;
  padding-top: 8px;
}

.active {
  background-color: #CBF6FF;
  border: 1px solid #CBF6FF;
}

.headerWrapper {
  width: 343px;
  display: flex;
  margin-top: 30px;
}

.headerBtnText {
  background: none;
  border: none;
}

.headerButtons {
  margin-top: 15px;
}

.row {
  width: 343px;
  border-top: 1px solid #f0f0f0;
  margin-top: 25px;
}

.preloader {
  transform: translate(-50%, -50%);
}

