.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.profileWrapper {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerButtons {
  margin-top: 15px;
}

.row {
  width: 343px;
  border-top: 1px solid #f0f0f0;
  margin-top: 25px;
}

