* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common classes */

.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
}

/* Top part */
.wrapper {
  composes: flexCol;
  background: linear-gradient(180deg, #6384EB 0%, rgba(99, 132, 235, 0.63) 100%);
}

/* iPhone 5/5s/SE*/
@media (min-width: 320px) and (max-width: 359px) {
  .logo {
    width: 114px;
    height: 26px;
    margin-top: 20px;
  }

  .wrapper {
    width: 320px;
  }
}

/*Androids...*/
@media (min-width: 360px) and (max-width: 374px)  {
  .wrapper {
    max-width: 374px;
  }

  .logo {
    width: 150px;
    height: 33px;
    margin-top: 20px;
  }
}

/* iPhone 6/7/8 */
@media (min-width: 375px) and (max-width: 413px) {
  .wrapper {
    width: 375px;
  }

  .logo {
    width: 150px;
    height: 33px;
    margin-top: 20px;
  }
}

/* iPhone 6+/7+/8+ */
@media (min-width: 414px) and (max-width: 767px) {
  .wrapper {
    width: 414px;
  }

  .logo {
    width: 166px;
    height: 36px;
    margin-top: 50px;
  }
}


