/*Common classes*/
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #AEC0F9 inset !important;
  -webkit-text-fill-color: #000000;
}

.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
}

.focus:focus {
  outline: none;
}

.authForm {
  composes: flexCol;
  width: 307px;
}

.textErr {
  composes: montserrat;
  text-align: left;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  color: #770303;

  align-self: flex-start;
  display: block;

  margin-bottom: 6px;
}

/* Middle part */
.authFormReg {
  composes: authForm;
}

.authFormLog {
  composes: authForm;
}

.header {
  composes: montserrat;
  display: flex;
  justify-content: space-between;

  font-size: 23px;
  line-height: 28px;
  color: #A4B5ED;
}

.header a {
  text-decoration: none;
  color: #A4B5ED;
  border-bottom: 1px solid #A4B5ED;
}

.register, .login {
  color: #A4B5ED;
  padding-bottom: 7px;
}

.register:visited, .login:visited {
  color: #000000;
  border-bottom: 1px solid #000000;
}

.form {
  composes: flexCol;
  width: 307px;
  margin-top: 60px;
}

.inputWrapper {
  width: 307px;
  margin: 20px auto 0;
}

.inputWrapper:first-of-type {
  margin-top: 0;
}

.input {
  composes: montserrat;
  font-size: 12px;
  line-height: 15px;

  -webkit-appearance: none;
  -webkit-border-radius: 0;
  background: #AEC0F9;

  padding: 12px 0 12px 27px;

  outline: none;
  border: 1px solid #AEC0F9;
  border-radius: 6px;
}

.input:first-of-type {
  margin-top: 0;
}

.input::placeholder {
  color: #000000;
}

.inputSubmit {
  composes: focus montserrat;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 14px;

  padding: 13px 0;

  background-color: #6384EB;
  cursor: pointer;

  border: 1px solid #6384EB;
  border-radius: 16px;
}

/* Gender Styling */
.genderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-start;
}

.genderTitle {
  composes: montserrat;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
}

.genderInput {
  -webkit-appearance: none;
  composes: montserrat;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;

  background: #AEC0F9;
  border: none;
  border-radius: 6px;
}

/* iPhone 5/5s/SE*/
@media (min-width: 320px) and (max-width: 359px) {
  .authForm {
    width: 275px;
  }

  /* Middle part */
  .header {
    width: 275px;
    margin-top: 15px;
  }

  .form {
    width: 275px;
    margin-top: 10px;
  }

  .inputWrapper {
    width: 275px;
    margin: 12px auto 0;
  }

  .input {
    width: 275px;
  }

  .inputSubmit {
    width: 275px;
    margin-top: 22px;
  }

  .inputSubmitLogin {
    composes: inputSubmit;
    width: 275px;
    margin-top: 46px;
  }

  /* Gender Styling */
  .genderWrapper {
    width: 235px;
    margin-top: 8px;
  }

  .genderInput {
    padding: 8px 19px;
  }
}

/*@media (max-width: 360px) {*/
/*  .authForm {*/
/*    width: 300px;*/
/*  }*/

/*  !* Middle part *!*/
/*  .header {*/
/*    width: 300px;*/
/*    margin-top: 48px;*/
/*  }*/

/*  .form {*/
/*    width: 300px;*/
/*    margin-top: 25px;*/
/*  }*/

/*  .inputWrapper {*/
/*    width: 300px;*/
/*    margin: 12px auto 0;*/
/*  }*/

/*  .input {*/
/*    width: 300px;*/
/*  }*/

/*  .inputSubmit {*/
/*    width: 300px;*/
/*    margin-top: 32px;*/
/*  }*/

/*  .inputSubmitLogin {*/
/*    composes: inputSubmit;*/
/*    width: 300px;*/
/*    margin-top: 82px;*/
/*  }*/

/*  !* Gender Styling *!*/
/*  .genderWrapper {*/
/*    width: 260px;*/
/*    margin-top: 15px;*/
/*  }*/

/*  .genderInput {*/
/*    padding: 8px 19px;*/
/*  }*/
/*}*/

/* iPhone 6/7/8 */
@media (min-width: 375px) and (max-width: 413px) {
  .authForm {
    width: 307px;
  }

  /* Middle part */
  .header {
    width: 307px;
    margin-top: 20px;
  }

  .form {
    width: 307px;
    margin-top: 20px;
  }

  .inputWrapper {
    width: 307px;
    margin: 15px auto 0;
  }

  .input {
    width: 307px;
  }

  .inputSubmit {
    width: 302px;
    margin-top: 30px;
  }

  /* Gender Styling */
  .genderWrapper {
    width: 260px;
    margin-top: 15px;
  }

  .genderInput {
    padding: 13px 24px;
  }
}

/* iPhone 6+/7+/8+ */
@media (min-width: 414px) and (max-width: 767px) {
  .authForm {
    width: 307px;
  }

  /* Middle part */
  .header {
    width: 307px;
    margin-top: 40px;
  }

  .form {
    width: 307px;
    margin-top: 20px;
  }

  .inputWrapper {
    width: 307px;
    margin: 20px auto 0;
  }

  .input {
    width: 307px;
  }

  .inputSubmit {
    width: 302px;
    margin-top: 30px;
  }

  .inputSubmitLogin {
    composes: inputSubmit;
    margin-top: 70px;
  }

  /* Gender Styling */
  .genderWrapper {
    width: 260px;
    margin-top: 15px;
  }

  .genderInput {
    padding: 13px 24px;
  }
}





