/*Common classes*/

.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}

.focus:focus {
  outline: none;
}

.iconsStyles {
  width: 135px;
  height: 35px;
  background-position: 20% 50%;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.cursor {
  cursor: pointer;
}

/* Bottom part */

.socialMedias {
  composes: flexCol;
}

.authWith {
  composes: montserrat;
  color: #000000;
}

.socialIcons {
  composes: montserrat;
  font-weight: 500;

  display: flex;
  justify-content: space-between;
}

.regIcons {
  composes: socialIcons;
}

.logIcons {
  composes: socialIcons;
}

.facebookIcon {
  composes: focus iconsStyles montserrat cursor;
  background: url('../../assets/img/fb-icon.svg') #3B5999 no-repeat 20% 50%;
  border: 1px solid #3B5999;
  color: #FFFFFF;
}

.googleIcon {
  composes: focus iconsStyles montserrat cursor;
  background: url('../../assets/img/google-icon.svg') transparent no-repeat 20% 50%;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

/* iPhone 5/5s/SE*/
@media screen and (min-width: 320px) {
  .authWith {
    margin-top: 20px;
  }

  .authWithLogin {
    composes: authWith;
    margin-top: 20px;
  }

  .socialIcons {
    width: 275px;
  }

  .regIcons {
    margin: 20px 0 25px 0;
  }

  .logIcons {
    margin: 20px 0 50px 0;
  }
}

/*Androids...*/
@media screen and (min-width: 360px)  {
  .authWith {
    margin-top: 20px;
  }

  .authWithLogin {
    margin-top: 40px;
  }

  .socialIcons {
    width: 305px;
  }

  .regIcons {
    margin: 20px 0 37px;
  }

  .logIcons {
    margin: 40px 0 114px 0;
  }
}

/* iPhone 6/7/8 */
@media screen and (min-width: 375px) {
  .authWith {
    margin-top: 20px;
  }

  .authWithLogin {
    margin-top: 40px;
  }

  .socialIcons {
    width: 305px;
  }

  .regIcons {
    margin: 20px 0 28px;
  }

  .logIcons {
    margin: 40px 0 104px 0;
  }
}

/* iPhone 6+/7+/8+ and Popular Androids */
@media screen and (min-width: 412px) {
  .authWith {
    margin-top: 20px;
  }

  .authWithLogin {
    margin-top: 40px;
  }

  .socialIcons {
    width: 305px;
  }

  .regIcons {
    margin: 20px 0 34px;
  }

  .logIcons {
    margin: 40px 0 77px 0;
  }
}



