/* Common Styling */
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #262D33;
}

/* Internal Header Styling */
.headerWrapper {
  display: flex;
  align-items: center;
  padding: 29px 17px;
  margin: 0 auto;
  background: #CBF6FF;
}

.btnText {
  composes: montserrat;
  font-size: 14px;
  line-height: 17px;
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
}

.btnText:active {
  color: #6A6A6A;
}

@media (min-width: 320px) and (max-width: 374px) {
  .sortingPageWrapper {
    width: 320px;
  }

  /* Image Background Styling */
  .imgBackground {
    display: none;
  }
}

@media (min-width: 375px) {
  .sortingPageWrapper {
    width: 375px;
  }

  /* Image Background Styling */
  .imgWrapper {
    height: 246px;
  }

  .imgBackground {
    width: 273px;
    height: 246px;
    display: block;
    margin: 50px auto 0;
  }
}