/* Common Styles */
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #262D33;
}

/* Main Styles */
.calendarContainer {
  composes: montserrat;
  display: block;
  border-radius: 6px;
  box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1);
}

/* iPhone 5/5s/SE*/
@media (min-width: 320px) and (max-width: 359px) {
  .calendarWrapper {
    padding-bottom: 15px;
  }

  .calendarContainer {
    font-size: 12px;
    line-height: 14px;

    width: 220px;
    margin: 15px auto 0;
  }
}

/*@media (max-width: 360px) {*/
/*  .calendarWrapper {*/
/*    padding-bottom: 32px;*/
/*  }*/

/*  .calendarContainer {*/
/*    font-size: 14px;*/
/*    line-height: 16px;*/

/*    width: 260px;*/
/*    margin: 15px auto 0;*/
/*  }*/
/*}*/

/* iPhone 6/7/8 */
@media (min-width: 375px) and (max-width: 413px) {
  .calendarWrapper {
    padding-bottom: 32px;
  }

  .calendarContainer {
    font-size: 13px;
    line-height: 15px;

    width: 240px;
    margin: 15px auto 0;
  }
}

/* iPhone 6+/7+/8+ */
@media (min-width: 414px) and (max-width: 767px) {
  .calendarWrapper {
    padding-bottom: 32px;
  }

  .calendarContainer {
    font-size: 15px;
    line-height: 17px;

    width: 280px;
    margin: 15px auto 0;
  }
}