/* Common Styles */
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #262D33;
}

.phoneNumber:-webkit-autofill,
.phoneNumber:-webkit-autofill:hover,
.phoneNumber:-webkit-autofill:focus,
.phoneNumber:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #FFFFFF inset !important;
  -webkit-text-fill-color: #262D33;
}

/* Main Styles */
.phoneNumber {
  -webkit-appearance: none;
  composes: montserrat;

  border: 1px solid #DADADA;
  border-radius: 6px;
  outline: none;
}

@media (min-width: 320px) and (max-width: 359px) {
  .phoneNumber {
    width: 234px;
    margin-top: 19px;
    padding: 12px 16px;
  }
}

@media (min-width: 360px) and (max-height: 640px) {
  .phoneNumber {
    width: 290px;
    margin-top: 19px;
    padding: 12px 16px;
  }
}

@media (min-width: 375px) {
  .phoneNumber {
    width: 307px;
    margin-top: 19px;
    padding: 12px 16px;
  }
}

