/* Common Styles */
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #262D33;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #262D33;
}

.name:-webkit-autofill,
.name:-webkit-autofill:hover,
.name:-webkit-autofill:focus,
.name:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #6384EB inset !important;
  -webkit-text-fill-color: #262D33;
}

/* Main Styles */
.nameWrapper {
  width: 220px;
}

.name {
  -webkit-appearance: none;
  composes: montserrat;
  text-align: center;

  border: none;
  text-overflow: ellipsis;

  background-image: url("../../assets/img/edit-icon.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-color: transparent;

  width: 200px;
  padding: 1px 0;
}

.name:disabled {
  background: none;
  color: #262D33;
  opacity: 1;
}

.name::placeholder {
  background: none;
  color: #262D33;
  opacity: 1;
}

.name:focus {
  background: none;
}

.name:active {
  background: none;
}

@media screen and (min-width: 320px) {
  .nameWrapper {
    margin-top: 13px;
  }

  /*.name {*/
  /*  padding-right: 10px;*/
  /*}*/
}

/*Androids...*/
@media screen and (min-width: 360px)  {
  .nameWrapper {
    margin-top: 15px;
  }
}

/* iPhone 6/7/8 */
@media screen and (min-width: 375px) {
  .nameWrapper {
    margin-top: 15px;
  }
}

/* iPhone 6+/7+/8+ and Popular Androids */
@media screen and (min-width: 412px) {
  .nameWrapper {
    margin-top: 15px;
  }
}

/* Samsung Galaxy Note 5 / LG G5 / One Plus 3 */
@media screen and (min-width: 480px) {
  .nameWrapper {
    margin-top: 15px;
    width: 300px;
  }

  .name {
    width: 280px;
    font-size: 16px;
    line-height: 18px;
  }
}