/* Common Styles */
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #262D33;
}

/* Main Styles */
.instrumentsListWrapper {
  composes: montserrat;
  columns: 2;
  padding-left: 10px;
}

.instrument, .label {
  vertical-align: middle;
}

/* iPhone 5/5s/SE*/
@media (min-width: 320px) and (max-width: 359px) {
  .instWrapper {
    padding-top: 8px;
  }

  .label {
    padding-top: 1px;
    padding-left: 15px;
  }
}

/*Androids...*/
@media (min-width: 360px) and (max-width: 374px)  {
  .instWrapper {
    padding-top: 8px;
    padding-left: 2px;
  }

  .label {
    padding-top: 1px;
    padding-left: 18px;
  }
}

/* iPhone 6/7/8 */
@media (min-width: 375px) and (max-width: 413px) {
  .instWrapper {
    padding-top: 8px;
    padding-left: 2px;
  }

  .label {
    padding-top: 1px;
    padding-left: 18px;
  }
}

/* iPhone 6+/7+/8+ */
@media (min-width: 414px) and (max-width: 767px) {
  .instWrapper {
    padding-top: 8px;
    padding-left: 2px;
  }

  .label {
    padding-top: 1px;
    padding-left: 18px;
  }
}