/*Common classes*/
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #FFFFFF inset !important;
  -webkit-text-fill-color: #6A6A6A;
}

.input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9e9e9e;
}

.input::-moz-placeholder { /* Firefox 19+ */
  color: #9e9e9e;
}

.input:-moz-placeholder { /* Firefox 18- */
  color: #9e9e9e;
}

.textArea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9e9e9e;
}

.textArea::-moz-placeholder { /* Firefox 19+ */
  color: #9e9e9e;
}

.textArea:-moz-placeholder { /* Firefox 18- */
  color: #9e9e9e;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #6A6A6A;
}

.jobCreateWrapper {
  width: 250px;
  margin: 0 auto;
}

.jobCreate {
  composes: montserrat;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #262D33;
}

.textErr {
  color: #fd4343;
  display: block;
  margin-top: 5px;
  font-size: 11px;
  line-height: 16px;
}

/*Main classes*/
.headerWrapper {
  width: 100%;
  margin: 0 auto;
}

.form {
  composes: montserrat;
}

.form p {
  margin-top: 12px;
  white-space: nowrap;
}

.form p:nth-child(1) {
  margin-top: 0;
}

.inputWrapper {
  margin: 5px auto 0;
  display: flex;
  background-color: #FFFFFF !important;
}

.input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;

  composes: montserrat;
  font-size: 12px;
  line-height: 14px;

  display: block;
  padding-left: 10px;
  height: 40px;

  background-color: #FFFFFF;

  outline: none;
  border: 1px solid #DADADA;
  border-radius: 6px;

  -webkit-box-shadow: none;
  box-shadow: none;
}

.input:focus {
  outline: none;
}

.textArea {
  -webkit-appearance: none;
  composes: montserrat;
  font-size: 12px;
  line-height: 14px;

  border: 1px solid #DADADA;
  border-radius: 6px;

  padding: 10px 0 0 10px;
  height: 90px;
  outline: none;
  resize: none;
}

.role {
  -webkit-appearance: none;

  composes: montserrat;
  font-size: 12px;
  line-height: 14px;

  display: block;
  position: relative;

  margin: 5px auto 0;
  padding-left: 10px;
  height: 40px;

  border: 1px solid #DADADA;
  border-radius: 6px;
  background-color: #ffffff;
}

.role option {
  color: #000000;
}

.role:invalid {
  color: #9e9e9e;
}

.role:focus {
  outline: none;
}

.inpDate {
  background-color: #FFFFFF;
  padding-top: 12px;
}

.submit {
  composes: montserrat;
  color: #FFFFFF;
  font-weight: 500;

  display: block;

  margin: 22px auto 75px;
  padding: 13px 0;

  border-radius: 16px;
  border: #6384EB;

  background-color: #6384EB;
  cursor: pointer;
}

.submit:focus {
  outline: none;
}

.footerWrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;

  margin: 0 auto;
  background: #FFFFFF;
}

/* Preloader Styles */
.preLoader {
  width: 64px;
  height: 64px;
  margin: 50% auto;
}

/* iPhone 5/5s/SE*/
@media screen and (min-width: 320px) {
  /*Main classes*/
  .form {
    width: 275px;
    padding-bottom: 40px;
    margin: 20px auto 35px;
  }

  .inputWrapper,
  .input,
  .textArea,
  .role,
  .submit {
    width: 275px;
  }

  .footerWrapper {
    padding: 4px 0 5px;
  }
}

/* Androids...*/
@media screen and (min-width: 360px) {
  .form {
    width: 307px;
    padding-bottom: 40px;
    margin: 20px auto 35px;
  }

  .inputWrapper,
  .input,
  .textArea,
  .role,
  .submit {
    width: 307px;
  }

  .footerWrapper {
    padding: 4px 0 3px;
  }
}

/* iPhone 6/7/8 */
@media screen and (min-width: 375px) {
  .form {
    width: 307px;
    padding-bottom: 40px;
    margin: 20px auto 35px;
  }

  .inputWrapper,
  .input,
  .textArea,
  .role,
  .submit {
    width: 307px;
  }

  .footerWrapper {
    padding: 4px 0 3px;
  }
}

/* iPhone 6+/7+/8+ and Popular Androids */
@media screen and (min-width: 412px) {
  .form {
    width: 334px;
    padding-bottom: 40px;
    margin: 20px auto 35px;
  }

  .textErr {
    font-size: 12px;
    line-height: 14px;
  }

  .inputWrapper,
  .input,
  .textArea,
  .role,
  .submit {
    width: 334px;
  }

  .footerWrapper {
    padding: 4px 0 10px;
  }
}

/* Samsung Galaxy Note 5 / LG G5 / One Plus 3 */
@media screen and (min-width: 480px) {
  .form {
    font-size: 16px;
    line-height: 19px;
    width: 380px;
    padding-bottom: 40px;
    margin: 20px auto 35px;
  }

  .textErr {
    font-size: 14px;
    line-height: 17px;
  }

  .inputWrapper,
  .input,
  .textArea,
  .role,
  .submit {
    font-size: 14px;
    line-height: 17px;

    width: 380px;
  }

  .footerWrapper {
    padding: 4px 0 10px;
  }
}