/*Common classes*/
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #FFFFFF inset !important;
  -webkit-text-fill-color: #6A6A6A;
}

.input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9e9e9e;
}

.input::-moz-placeholder { /* Firefox 19+ */
  color: #9e9e9e;
}

.input:-moz-placeholder { /* Firefox 18- */
  color: #9e9e9e;
}

.textArea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9e9e9e;
}

.textArea::-moz-placeholder { /* Firefox 19+ */
  color: #9e9e9e;
}

.textArea:-moz-placeholder { /* Firefox 18- */
  color: #9e9e9e;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #6A6A6A;
}

.jobCreateWrapper {
  width: 250px;
  margin: 0 auto;
}

.jobCreate {
  composes: montserrat;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #262D33;
}

.textErr {
  color: #fd4343;
  display: block;
  margin-top: 5px;
  margin-left: 20.5px;
  font-size: 11px;
  line-height: 16px;
}

/*Main classes*/
.form p {
  margin-top: 12px;
  white-space: nowrap;
}

.form p:nth-child(1) {
  margin-top: 0;
}

.inputWrapper {
  margin: 5px auto 0;
  display: flex;
  background-color: #FFFFFF !important;
}

.input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;

  composes: montserrat;
  font-size: 12px;
  line-height: 14px;

  display: block;
  padding-left: 10px;

  background-color: #FFFFFF;

  outline: none;
  border: 1px solid #DADADA;
  border-radius: 6px;

  -webkit-box-shadow: none;
  box-shadow: none;
}

.input:focus {
  outline: none;
}

.textArea {
  -webkit-appearance: none;
  composes: montserrat;
  font-size: 12px;
  line-height: 14px;

  border: 1px solid #DADADA;
  border-radius: 6px;

  padding: 10px 0 0 10px;
  outline: none;
  resize: none;
}

.role {
  -webkit-appearance: none;

  composes: montserrat;
  font-size: 12px;
  line-height: 14px;

  display: block;
  position: relative;

  margin: 5px auto 0;
  padding-left: 10px;

  border: 1px solid #DADADA;
  border-radius: 6px;
  background-color: #ffffff;
}

.role option {
  color: #000000;
}

.role:invalid {
  color: #9e9e9e;
}

.role:focus {
  outline: none;
}

.inpDate {
  background-color: #FFFFFF;
  padding-top: 12px;
}

.submit {
  composes: montserrat;
  color: #FFFFFF;
  font-weight: 500;

  display: block;

  margin: 22px auto;
  padding: 13px 0;

  border-radius: 16px;
  border: #6384EB;

  background-color: #6384EB;
  cursor: pointer;
}

.submit:focus {
  outline: none;
}

.footerWrapper {
  position: fixed;
  bottom: 0;
  z-index: 1;

  margin: 0 auto;
  background: #FFFFFF;
}

/* Preloader Styles */
.preLoader {
  width: 64px;
  height: 64px;
  margin: 50% auto;
}

/* iPhone 5/5s/SE*/
@media (min-width: 320px) and (max-width: 359px) {
  .headerWrapper {
    width: 320px;
    margin: 0 auto;
  }

  /*Main classes*/
  .form {
    composes: montserrat;
    width: 320px;
    padding-bottom: 40px;
    margin: 30px auto 35px;
  }

  /*Main classes*/
  .form p {
    margin-left: 23px;
  }

  .inputWrapper {
    width: 275px;
  }

  .input {
    width: 275px;
    height: 35px;
  }

  .textArea {
    width: 275px;
    height: 90px;
  }

  .role {
    width: 275px;
    height: 35px;
  }

  .submit {
    width: 275px;
  }

  .footerWrapper {
    width: 320px;
    padding: 4px 0 5px;
  }
}

/* Androids...*/
/*@media (max-width: 360px) {*/
/*  .headerWrapper {*/
/*    width: 320px;*/
/*    margin: 0 auto;*/
/*  }*/

/*  .headerWrapper div img {*/
/*    margin: 23px 20px 20px 0;*/
/*  }*/

/*  !*Main classes*!*/
/*  .form {*/
/*    composes: montserrat;*/
/*    width: 320px;*/
/*    padding-bottom: 40px;*/
/*    margin: 0 auto 35px;*/
/*  }*/

/*  !*Main classes*!*/
/*  .form p {*/
/*    margin-left: 23px;*/
/*  }*/

/*  .inputWrapper {*/
/*    width: 300px;*/
/*  }*/

/*  .input {*/
/*    width: 300px;*/
/*    height: 35px;*/
/*  }*/

/*  .textArea {*/
/*    width: 300px;*/
/*    height: 90px;*/
/*  }*/

/*  .role {*/
/*    width: 300px;*/
/*    height: 35px;*/
/*  }*/

/*  .submit {*/
/*    width: 300px;*/
/*  }*/

/*  .footerWrapper {*/
/*    width: 360px;*/
/*    padding-bottom: 5px;*/
/*  }*/
/*}*/


/* iPhone 6/7/8 */
@media (min-width: 375px) and (max-width: 413px) {
  .form {
    composes: montserrat;
    width: 343px;
    padding-bottom: 40px;
    margin: 0 auto 35px;
  }

  .form p {
    margin-left: 20px;
  }

  .inputWrapper {
    width: 307px;
  }

  .input {
    width: 307px;
    height: 40px;
  }

  .textArea {
    width: 307px;
    height: 90px;
  }

  .role {
    width: 307px;
    height: 40px;
  }

  .role option {
    color: #000000;
  }

  .role:invalid {
    color: #9e9e9e;
  }

  .role:focus {
    outline: none;
  }

  .submit {
    width: 302px;
  }

  .footerWrapper {
    width: 375px;
    padding: 4px 0 3px;
  }
}

/* iPhone 6+/7+/8+ */
@media (min-width: 414px) and (max-width: 767px) {
  .form {
    composes: montserrat;
    width: 334px;
    padding-bottom: 40px;
    margin: 0 auto 35px;
  }

  .inputWrapper {
    width: 334px;
  }

  .input {
    width: 334px;
    height: 40px;
  }

  .textArea {
    width: 334px;
    height: 90px;
  }

  .role {
    width: 334px;
    height: 40px;
  }

  .role option {
    color: #000000;
  }

  .role:invalid {
    color: #9e9e9e;
  }

  .role:focus {
    outline: none;
  }

  .submit {
    width: 302px;
  }

  .footerWrapper {
    width: 414px;
    padding: 4px 0 10px;
  }
}


/* iPhone X/11*/
/*@media (max-width: 375px) and (min-height: 812px) {*/
/*  .headerWrapper {*/
/*    width: 375px;*/
/*    margin: 0 auto;*/
/*  }*/

/*  .headerWrapper div img {*/
/*    margin: 27px 20px 20px 0;*/
/*  }*/

/*  !*Main classes*!*/
/*  .form {*/
/*    composes: montserrat;*/
/*    width: 343px;*/
/*    padding: 20px 0 40px 0;*/
/*    margin: 0 auto 35px;*/
/*  }*/

/*  .form p {*/
/*    margin-left: 20px;*/
/*  }*/

/*  .inputWrapper {*/
/*    width: 307px;*/
/*  }*/

/*  .input {*/
/*    width: 307px;*/
/*    height: 40px;*/
/*  }*/

/*  .textArea {*/
/*    width: 307px;*/
/*    height: 90px;*/
/*  }*/

/*  .role {*/
/*    width: 307px;*/
/*    height: 40px;*/
/*  }*/

/*  .role option {*/
/*    color: #000000;*/
/*  }*/

/*  .role:invalid {*/
/*    color: #9e9e9e;*/
/*  }*/

/*  .role:focus {*/
/*    outline: none;*/
/*  }*/

/*  .submit {*/
/*    width: 302px;*/
/*  }*/

/*  .footerWrapper {*/
/*    width: 375px;*/
/*    padding-bottom: 6px;*/
/*  }*/
/*}*/
