/* Common Classes*/

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #262D33;
}

.filtersPageWrapper {
  width: 375px;
}

/* Header part classes */

.headerWrapper {
  display: flex;
  align-items: center;
  padding: 29px 17px;
  margin: 0 auto;
  background: #CBF6FF;
}

.btnText {
  composes: montserrat;
  font-size: 14px;
  line-height: 17px;
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
}

.btnText:active {
  color: #6A6A6A;
}

/* Filters Number */
.filtersNumber {
  composes: montserrat;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  border: 1px solid #C4C4C4;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

/* Button Classes */

.btn {
  composes: montserrat;
  width: 100%;
  padding: 30px 35px 30px 20px;
  background: none;
  border: none;
  outline: none;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.btn::after {
  content: url("../../../Assets/img/arrow-bottom.svg");
}

/* Background Image Classes */

.background {
  width: 375px;
  position: absolute;
  z-index: -1;
  top: 465px;
}

.footerWrapper {
  width: 375px;
  position: absolute;
  bottom: 6px;
}

/* Collapse Buttons */

.btnWrapper {
  display: flex;
  margin-top: 10px;
  padding: 30px 35px 30px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.filterName {
  composes: montserrat;
  width: 100%;
}