.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #262D33;
}

.instrumentsWrapper {
  max-height: 460px;
  overflow-y: scroll;
}

.instWrapper {
  margin-top: 24px;
  padding-left: 45px;
  height: 22px;
  display: flex;
  align-items: center;
}

.instWrapper:last-child {
  margin-bottom: 10px;
}

.instrument {
  width: 20px;
  height: 20px;
}

.label {
  composes: montserrat;
  margin-left: 18px;
}

.instrument:hover {
  font-weight: 500;
  color: #6384EB;
}



