.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.salaryWrapper {
  height: 140px;
}

.salaryInputWrapper,
.salaryRangeWrapper {
  display: flex;
  justify-content: center;
}

.input {
  composes: montserrat;
  width: 159px;
  height: 36px;
  border: 1px solid #DADADA;
  border-radius: 5px;
  margin-top: 15px;
  text-align: center;
  outline: none;
}

.input:last-child {
  margin-left: 15px;
}

.range {
  width: 167px;
  margin-top: 30px;
  -webkit-appearance: none;
  background: transparent;
}

.range:focus {
  outline: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 30px;
  background: url("../../../Assets/img/musical-icon.svg") center center no-repeat;
  border: none;
}

.range::-webkit-slider-runnable-track {
  height: 10px;
  background: #FFFFFF;
  border-top: 2px solid #6A6A6A;
  border-bottom: 2px solid #6A6A6A;
}

.range:focus::-webkit-slider-runnable-track {
  background: #FFFFFF;
}

.range::-moz-range-track {
  height: 7px;
  background: #FFFFFF;
  border-top: 2px solid #6A6A6A;
  border-bottom: 2px solid #6A6A6A;
}
.range::-moz-range-thumb {
  -webkit-appearance: none;
  width: 50px;
  height: 50px;
  background: url("../../../Assets/img/musical-icon.svg") center center no-repeat;
}


