/* Common Styling */
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #262D33;
}

/* Internal Header Styling */
.headerWrapper {
  display: flex;
  align-items: center;
  padding: 29px 17px;
  margin: 0 auto;
  background: #CBF6FF;
}

.btnText {
  composes: montserrat;
  font-size: 14px;
  line-height: 17px;
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
}

.btnText:active {
  color: #6A6A6A;
}


/* iPhone 5/5s/SE*/
@media (min-width: 320px) and (max-width: 359px) {
  .sortingPageWrapper {
    width: 320px;
  }

  /* Image Background Styling */
  .imgBackground {
    display: none;
  }
}

/* Androids...*/
@media (min-width: 360px) and (max-width: 374px) {
  .sortingPageWrapper {
    max-width: 374px;
  }

  /* Image Background Styling */
  .imgWrapper {
    height: 200px;
  }

  .imgBackground {
    width: 273px;
    height: 200px;
    display: block;
    margin: 15px auto 0;
  }
}


/* iPhone 6/7/8 */
@media (min-width: 375px) and (max-width: 413px) {
  .sortingPageWrapper {
    width: 375px;
  }

  /* Image Background Styling */
  .imgWrapper {
    height: 200px;
  }

  .imgBackground {
    width: 273px;
    height: 200px;
    display: block;
    margin: 15px auto 0;
  }
}

/* iPhone 6+/7+/8+ */
@media (min-width: 414px) and (max-width: 767px) {
  .sortingPageWrapper {
    width: 414px;
  }

  /* Image Background Styling */
  .imgWrapper {
    height: 250px;
  }

  .imgBackground {
    width: 414px;
    height: 250px;
    display: block;
    margin: 15px auto 0;
  }
}
