/* Common Styling */

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #262D33;
}


/* Sorting Styling */
.sortBtnWrapper {
  composes: montserrat;
  width: 375px;
  display: flex;
  margin-top: 10px;
  padding: 30px 35px 30px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  background: #FFFFFF;
  outline: none;
}

.sortBtnWrapper:hover {
  color: #6384EB;
}

/* iPhone 5/5s/SE*/
@media (min-width: 320px) and (max-width: 359px) {
  .sortBtnWrapper {
    width: 320px;
    margin-top: 10px;
    padding: 20px 0 20px 15px;

    font-size: 16px;
    line-height: 19px;
  }
}

/* Androids...*/
@media (min-width: 360px) and (max-width: 374px) {
  .sortBtnWrapper {
    max-width: 100%;
    margin-top: 10px;
    padding: 20px 20px 20px 15px;
  }
}

/* iPhone 6/7/8 */
@media (min-width: 375px) and (max-width: 413px) {
  .sortBtnWrapper {
    width: 375px;
    margin-top: 10px;
    padding: 25px 0 25px 15px;
  }
}

/* iPhone 6+/7+/8+ */
@media (min-width: 414px) and (max-width: 767px) {
  .sortBtnWrapper {
    width: 414px;
    margin-top: 10px;
    padding: 25px 0 25px 15px;
  }
}