/* Common Styling */
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #262D33;
}

.sortingPageWrapper {
  width: 100%;
}

.imgWrapper {
  height: 200px;
}

.imgBackground {
  width: 100%;
  height: 200px;
  display: block;
  margin: 15px auto 0;
}

/* Internal Header Styling */
.headerWrapper {
  display: flex;
  align-items: center;
  padding: 29px 17px;
  margin: 0 auto;
  background: #CBF6FF;
}

.btnText {
  composes: montserrat;
  font-size: 14px;
  line-height: 17px;
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
}

.btnText:active {
  color: #6A6A6A;
}

/* iPhone 6+/7+/8+ and Popular Androids */
@media screen and (min-width: 412px) {
  /* Image Background Styling */
  .imgWrapper,
  .imgBackground {
    height: 250px;
  }
}

/* Samsung Galaxy Note 5 / LG G5 / One Plus 3 */
@media screen and (min-width: 480px) {
  /* Image Background Styling */
  .imgWrapper,
  .imgBackground {
    height: 350px;
  }
}
