/* Common Styling */

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #262D33;
}

/* Main Styling */
.sortingModalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  composes: montserrat;
  background: #F3F3F3;
  border: 1px solid #F3F3F3;
  outline: none;
}

.btn:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid #DADADA;
}

.btn:nth-child(2) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cancelBtn {
  color: #FF0000;
  border-radius: 10px;
  margin-top: 2px;
}

/* Visibility of Modal Menu */
.defaultPosition {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.visible {
  max-height: 155px;
  overflow: hidden;
  transition: max-height 0.3s ease-in;
}

.hidden {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

/* iPhone 5/5s/SE*/
@media screen and (min-width: 320px) {
  /* Main Styling */
  .sortingModalWrapper {
    width: 283px;
    margin: 0 auto 8px;
  }

  .btn {
    width: 283px;
    padding: 10px 0;
  }

  .cancelBtn {
    width: 240px;
  }
}

/* Androids...*/
@media screen and (min-width: 360px) {
  .sortingModalWrapper {
    width: 340px;
    margin: 0 auto 9px;
  }

  .btn {
    width: 340px;
    padding: 13px 0;
  }

  .cancelBtn {
    width: 320px;
    margin-top: 5px;
  }
}

/* iPhone 6/7/8 */
@media screen and (min-width: 375px) {
  .sortingModalWrapper {
    width: 357px;
    margin: 0 auto 9px;
  }

  .btn {
    width: 357px;
  }

  .cancelBtn {
    width: 322px;
  }
}

/* iPhone 6+/7+/8+ and Popular Androids */
@media screen and (min-width: 412px) {
  .sortingModalWrapper {
    width: 357px;
    margin: 0 auto 9px;
  }

  .btn {
    width: 357px;
  }

  .cancelBtn {
    width: 322px;
  }
}

/* Samsung Galaxy Note 5 / LG G5 / One Plus 3 */
@media screen and (min-width: 480px) {
  .sortingModalWrapper {
    width: 400px;
    margin: 0 auto 9px;
  }

  .btn {
    width: 400px;

    font-size: 17px;
    line-height: 19px;
  }

  .cancelBtn {
    width: 370px;
  }
}


