/* Common Styling */
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #262D33;
}

/* Sorting Styling */
.sortBtnWrapper {
  composes: montserrat;
  display: flex;
  width: 100%;
  margin-top: 10px;
  padding: 20px 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  background: #FFFFFF;
  outline: none;
}

.sortBtnWrapper:hover {
  color: #6384EB;
}

/* Androids...*/
@media screen and (min-width: 360px) {
  .sortBtnWrapper {
    font-size: 18px;
    line-height: 20px;
  }
}