* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common classes */

.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
}

/* Top part */
.wrapper {
  composes: flexCol;
  width: 375px;
  background: #FFFFFF;
}

.brandName {
  composes: montserrat;
  text-align: center;
  letter-spacing: 0.245em;
  color: #6A6A6A;
  padding-top: 34px;
}

.muz {
  font-size: 50px;
  line-height: 50px;
  font-family: 'Kufam', cursive;
}
