* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 375px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.header {
  height: 82px;
  background: #FFFFFF;
}

.main {
  display: flex;
  flex-direction: column;
}

.mainRow {
  height: 19px;
  background: #DBF3FF;
}
