/*Common classes*/

.inputIconPosition {
  background-position: 6% 50%;
  background-repeat: no-repeat;
  padding-left: 59px;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.headerWrapper div {
  width: 343px;
  margin: 0 auto;
}

.headerWrapper div img {
  margin: 23px 0;
}

.textErr {
  color: red;
  display: block;
  margin-top: 5px;
  margin-left: 20.5px;
}

/*Main classes*/

.form {
  composes: montserrat;
  width: 343px;
  padding-bottom: 17px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

.form p {
  padding: 15px 0 0 23px;
  white-space: nowrap;
  text-transform: uppercase;
}

.note {
  composes: montserrat;
  font-size: 10px;
  line-height: 12px;
  color: #6A6A6A;
  margin-bottom: 5px;
}

.form input {
  display: block;
  margin: 15px auto 0;
  width: 302px;
  height: 40px;
  border: 1px solid #6A6A6A;
  border-radius: 16px;
  font-size: 12px;
  line-height: 15px;
}

.role {
  display: block;
  margin: 15px auto 0;
  width: 302px;
  height: 40px;
  border: 1px solid #6A6A6A;
  border-radius: 16px;
  font-size: 12px;
  line-height: 15px;
  position: relative;
}

.role option {
  color: #000000;
}

.role:invalid {
  color: #DADADA;
}

.form input:focus {
  outline: none;
}

.role:focus {
  outline: none;
}

.form input::placeholder {
  opacity: 0.5;
}

.title {
  composes: inputIconPosition;
  background-image: url('../Assets/img/title-icon.png');
}

.role {
  composes: inputIconPosition;
  background-image: url('../Assets/img/role-icon.png');
}

.date {
  composes: inputIconPosition;
  background-image: url('../Assets/img/calendar-icon.png');
}

.address {
  composes: inputIconPosition;
  background-image: url('../Assets/img/location-icon.png');
}

.sets {
  composes: inputIconPosition;
  background-image: url('../Assets/img/sets-icon.png');
}

.salary {
  composes: inputIconPosition;
  background-image: url('../Assets/img/moneyhand-icon.png');
}

.submit {
  width: 46px;
  height: 46px;
  border-radius: 50px;
  background-image: url('../Assets/img/arrow-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #6384EB;
  border: #6384EB;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.submit:focus {
  outline: none;
}

.footerWrapper {
  position: fixed;
  bottom: 0;
  z-index: 1;
  background: #FFFFFF;
  width: 375px;
  margin: 0 auto;
  padding-bottom: 6px;
}

/* Preloader Styles */

.preLoader {
  width: 64px;
  height: 64px;
  margin: 50% auto;
}