/*Common classes*/

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #FFFFFF inset !important;
  -webkit-text-fill-color: #6A6A6A;
}

.input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9e9e9e;
}

.input::-moz-placeholder { /* Firefox 19+ */
  color: #9e9e9e;
}

.input:-moz-placeholder { /* Firefox 18- */
  color: #9e9e9e;
}

.textArea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9e9e9e;
}

.textArea::-moz-placeholder { /* Firefox 19+ */
  color: #9e9e9e;
}

.textArea:-moz-placeholder { /* Firefox 18- */
  color: #9e9e9e;
}

.inputIconPosition {
  background-position: 30% 50%;
  background-repeat: no-repeat;
  padding-left: 59px;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #6A6A6A;
}

.headerWrapper div {
  width: 343px;
  margin: 0 auto;
}

.headerWrapper div img {
  margin: 23px 0;
}

.textErr {
  color: #fd4343;
  display: block;
  margin-top: 5px;
  margin-left: 20.5px;
}

/*Main classes*/

.form {
  composes: montserrat;
  width: 343px;
  padding: 20px 0 40px 0;
  margin: 0 auto 35px;
}

.form p {
  padding-left: 20px;
  margin-top: 12px;
  white-space: nowrap;
}

.form p:nth-child(1) {
  margin-top: 0;
}

.note {
  composes: montserrat;
  font-size: 10px;
  line-height: 12px;
  color: #6A6A6A;
  margin-bottom: 5px;
}

.inputWrapper {
  width: 307px;
  margin: 5px auto 0;

  display: flex;

  background-color: #FFFFFF !important;
}

.inputIcon {
  composes: inputIconPosition;

  height: 40px;

  border: 1px solid #DADADA;
  border-right: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;

  composes: montserrat;
  font-size: 12px;
  line-height: 14px;

  display: block;
  padding-left: 10px;

  width: 307px;
  height: 40px;

  background-color: #FFFFFF;

  outline: none;
  border: 1px solid #DADADA;
  border-radius: 6px;

  -webkit-box-shadow: none;
  box-shadow: none;
}

.input:focus {
  outline: none;
}

.textArea {
  -webkit-appearance: none;
  composes: montserrat;
  font-size: 12px;
  line-height: 14px;

  width: 307px;
  height: 90px;

  border: 1px solid #DADADA;
  border-radius: 6px;

  padding: 10px 0 0 10px;

  outline: none;

  resize: none;
}

.role {
  -webkit-appearance: none;

  composes: montserrat;
  font-size: 12px;
  line-height: 14px;

  display: block;

  width: 307px;
  height: 40px;

  position: relative;

  margin: 5px auto 0;
  padding-left: 10px;

  border: 1px solid #DADADA;
  border-radius: 6px;

  background-color: #ffffff;
}

.role option {
  color: #000000;
}

.role:invalid {
  color: #9e9e9e;
}

.role:focus {
  outline: none;
}

.inpDate {
  background-color: #FFFFFF;
  padding-top: 12px;
}

.submit {
  composes: montserrat;
  color: #FFFFFF;
  font-weight: 500;

  display: block;
  width: 302px;

  margin: 22px auto;
  padding: 13px 0;

  background-color: #6384EB;

  border-radius: 16px;
  border: #6384EB;

  cursor: pointer;
}

.submit:focus {
  outline: none;
}

.footerWrapper {
  width: 375px;
  position: fixed;
  bottom: 0;
  z-index: 1;

  background: #FFFFFF;

  margin: 0 auto;
  padding-bottom: 6px;
}

/* Preloader Styles */

.preLoader {
  width: 64px;
  height: 64px;
  margin: 50% auto;
}
