/*Common classes*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #FFFFFF inset !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #BDBDBD;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #BDBDBD;
}

:-moz-placeholder { /* Firefox 18- */
  color: #BDBDBD;
}

.inputIconPosition {
  background-position: 30% 50%;
  background-repeat: no-repeat;
  padding-left: 59px;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #262D33;
}

.headerWrapper div {
  width: 343px;
  margin: 0 auto;
}

.headerWrapper div img {
  margin: 23px 0;
}

.textErr {
  color: #fd4343;
  display: block;
  margin-top: 5px;
  margin-left: 20.5px;
}

/*Main classes*/

.form {
  composes: montserrat;
  width: 343px;
  padding: 20px 0 40px 0;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

.form p {
  padding-left: 20px;
  margin-top: 12px;
  white-space: nowrap;
}

.form p:nth-child(1) {
  margin-top: 0;
}

.note {
  composes: montserrat;
  font-size: 10px;
  line-height: 12px;
  color: #6A6A6A;
  margin-bottom: 5px;
}

.inputWrapper {
  width: 307px;
  margin: 5px auto 0;

  display: flex;

  background-color: #FFFFFF !important;
}

.inputIcon {
  composes: inputIconPosition;

  height: 40px;

  border: 1px solid #DADADA;
  border-right: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.form input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;

  display: block;

  width: 247px;
  height: 40px;

  background-color: #FFFFFF;

  outline: none;
  border: 1px solid #DADADA;
  border-left: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;

  font-size: 12px;
  line-height: 15px;

  -webkit-box-shadow: none;
  box-shadow: none;
}

.form input:focus {
  outline: none;
}

.textArea {
  -webkit-appearance: none;
  composes: montserrat;

  width: 307px;
  height: 90px;

  border: 1px solid #DADADA;
  border-radius: 6px;

  padding: 10px 0 0 10px;

  outline: none;

  resize: none;
}

.role {
  -webkit-appearance: none;

  display: block;

  width: 307px;
  height: 40px;

  position: relative;

  margin: 5px auto 0;

  border: 1px solid #DADADA;
  border-radius: 6px;

  font-size: 12px;
  line-height: 15px;

  background-color: #ffffff;
}

.role option {
  color: #000000;
}

.role:invalid {
  color: #BDBDBD;
}

.role:focus {
  outline: none;
}

.title {
  composes: inputIcon;
  background-image: url('../Assets/img/title-icon.svg');
}

.role {
  composes: inputIconPosition;
  background-image: url('../Assets/img/role-icon.svg');
  background-position: 4% 50%;
}

.date {
  composes: inputIcon;

  background-image: url('../Assets/img/calendar-icon.svg');
  background-color: #FFFFFF;
}

.inpDate {

  padding-top: 12px;
}

.address {
  composes: inputIcon;
  background-image: url('../Assets/img/location-icon.svg');
}

.sets {
  composes: inputIcon;
  background-image: url('../Assets/img/sets-icon.svg');
}

.salary {
  composes: inputIcon;
  background-image: url('../Assets/img/moneyhand-icon.svg');
}

.phone {
  composes: inputIcon;
  background-image: url('../Assets/img/phone.svg');
}

.submit {
  width: 46px;
  height: 46px;

  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);

  margin-bottom: 100px;

  background-image: url('../Assets/img/arrow-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #6384EB;

  border-radius: 50px;
  border: #6384EB;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);

  cursor: pointer;
}

.submit:focus {
  outline: none;
}

.footerWrapper {
  width: 375px;
  position: fixed;
  bottom: 0;
  z-index: 1;

  background: #FFFFFF;

  margin: 0 auto;
  padding-bottom: 6px;
}

/* Preloader Styles */

.preLoader {
  width: 64px;
  height: 64px;
  margin: 50% auto;
}
