/* Common classes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  color: #262D33;
}

/* Main styles */

.jobSearch {
  composes: montserrat;
  text-align: center;
}

/* Buttons styles */

.navLinkWrapper {
  text-decoration: none;
}

.btnClass {
  background: #CBF6FF;
  border: 1px solid #CBF6FF;
  border-radius: 12px;
  composes: montserrat;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  padding-top: 8px;
}

/* Styles for Job Offers */

.jobsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jobOfferItem {
  list-style: none;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.jobOfferItem:last-child {
  margin-bottom: 100px;
}

.jobOfferContentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 10px 20px;
}

/* Footer classes */

.footerWrapper {
  position: fixed;
  bottom: 0;
  z-index: 1;
  background: #FFFFFF;
  margin: 0 auto;
}

/* Preloader Styles */

.preLoader {
  width: 64px;
  height: 64px;
  margin: 50% auto;
}

.loadingNewOffers {
  composes: montserrat;
  text-align: center;
  margin: 10px 0 90px;
}

.hide {
  opacity: 0;
}

@media (min-width: 320px) and (max-width: 359px) {
  .headerWrapper {
    width: 320px;
    margin: 0 auto;
  }

  .headerWrapper div img {
    margin: 23px 20px 20px 0;
  }

  /* Buttons styles */
  .btnClass {
    width: 142px;
    height: 32px;
  }

  /* Styles for Job Offers */
  .jobOfferItem {
    width: 286px;
    height: 70px;
    margin-top: 15px;
  }

  .jobOfferContentWrapper {
    height: 70px;
  }

  .instrumentIcon {
    width: 40px;
    height: 40px;
  }

  .jobTextWrapper {
    width: 160px;
  }

  .jobTitle {
    composes: montserrat;
    font-size: 11px;
    line-height: 16px;
  }

  .jobDate {
    composes: jobTitle;
    font-size: 12px;
    line-height: 17px;
    width: 25px;
    height: 27px;
    text-transform: capitalize;
    text-align: center;
  }

  .jobSalary {
    composes: montserrat;
    font-size: 11px;
    line-height: 16px;
    color: #828282;
    margin-top: 3px;
  }

  /* Footer classes */
  .footerWrapper {
    width: 320px;
    padding-bottom: 3px;
  }

  /* Preloader Styles */
  .loadingNewOffers {
    font-size: 11px;
    line-height: 16px;
  }
}

/*@media (max-width: 360px) {*/
/*  .headerWrapper {*/
/*    width: 360px;*/
/*    margin: 0 auto;*/
/*  }*/

/*  .headerWrapper div img {*/
/*    margin: 23px 20px 20px 0;*/
/*  }*/

/*  !* Buttons styles *!*/
/*  .btnClass {*/
/*    width: 160px;*/
/*    height: 32px;*/
/*  }*/

/*  !* Styles for Job Offers *!*/
/*  .jobOfferItem {*/
/*    width: 330px;*/
/*    height: 80px;*/
/*    margin-top: 15px;*/
/*  }*/

/*  .jobOfferContentWrapper {*/
/*    height: 75px;*/
/*  }*/

/*  .instrumentIcon {*/
/*    width: 43px;*/
/*    height: 43px;*/
/*  }*/

/*  .jobTextWrapper {*/
/*    width: 190px;*/
/*  }*/

/*  .jobTitle {*/
/*    composes: montserrat;*/
/*    font-size: 14px;*/
/*    line-height: 16px;*/
/*  }*/

/*  .jobDate {*/
/*    composes: jobTitle;*/
/*    font-size: 14px;*/
/*    line-height: 16px;*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    text-transform: capitalize;*/
/*    text-align: center;*/
/*  }*/

/*  .jobSalary {*/
/*    composes: montserrat;*/
/*    font-size: 13px;*/
/*    line-height: 16px;*/
/*    color: #828282;*/
/*    margin-top: 7px;*/
/*  }*/

/*  !* Footer classes *!*/
/*  .footerWrapper {*/
/*    width: 360px;*/
/*    padding-bottom: 5px;*/
/*  }*/

/*  !* Preloader Styles *!*/
/*  .loadingNewOffers {*/
/*    font-size: 14px;*/
/*    line-height: 16px;*/
/*  }*/
/*}*/

/* iPhone 6/7/8 */
@media (min-width: 375px) and (max-width: 413px) {
  /* Buttons styles */
  .btnClass {
    width: 169px;
    height: 32px;
  }

  /* Styles for Job Offers */
  .jobOfferItem {
    width: 343px;
    height: 80px;
    margin-top: 8px;
  }

  .jobOfferItem:first-child {
    margin-top: 10px;
  }

  .jobOfferContentWrapper {
    height: 80px;
  }

  .instrumentIcon {
    width: 43px;
    height: 43px;
  }

  .jobTextWrapper {
    width: 200px;
  }

  .jobTitle {
    composes: montserrat;
    font-size: 14px;
    line-height: 17px;
  }

  .jobDate {
    composes: jobTitle;
    font-size: 15px;
    line-height: 18px;
    width: 30px;
    height: 40px;
    text-transform: capitalize;
    text-align: center;
  }

  .jobSalary {
    composes: montserrat;
    font-size: 11px;
    line-height: 13px;
    color: #828282;
    margin-top: 10px;
  }

  /* Footer classes */
  .footerWrapper {
    width: 375px;
    padding: 4px 0 3px;
  }

  /* Preloader Styles */
  .loadingNewOffers {
    font-size: 12px;
    line-height: 15px;
  }
}

/* iPhone X/11*/
@media (max-width: 375px) and (min-height: 812px) {
  .headerWrapper {
    width: 375px;
    margin: 0 auto;
  }

  .headerWrapper div img {
    margin: 27px 20px 20px 0;
  }

  /* Buttons styles */
  .btnClass {
    width: 169px;
    height: 32px;
  }

  /* Styles for Job Offers */
  .jobOfferItem {
    width: 343px;
    height: 80px;
    margin-top: 8px;
  }

  .jobOfferItem:first-child {
    margin-top: 10px;
  }

  .jobOfferContentWrapper {
    height: 80px;
  }

  .instrumentIcon {
    width: 43px;
    height: 43px;
  }

  .jobTextWrapper {
    width: 200px;
  }

  .jobTitle {
    composes: montserrat;
    font-size: 14px;
    line-height: 17px;
  }

  .jobDate {
    composes: jobTitle;
    font-size: 15px;
    line-height: 18px;
    width: 30px;
    height: 40px;
    text-transform: capitalize;
    text-align: center;
  }

  .jobSalary {
    composes: montserrat;
    font-size: 11px;
    line-height: 13px;
    color: #828282;
    margin-top: 10px;
  }

  /* Footer classes */
  .footerWrapper {
    width: 375px;
    padding-bottom: 6px;
  }

  /* Preloader Styles */
  .loadingNewOffers {
    font-size: 12px;
    line-height: 15px;
  }
}

