/* Common Styles */

.montserratBig {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: #262D33;
}

.montserratSmall {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #262D33;
}

/* Main Styles */

.jobWrapper {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  word-wrap: break-word;
}

.title {
  composes: montserratBig;
}

.salary {
  composes: montserratBig;
  font-weight: 700;

  margin-top: 7px;
}

.description {
  display: inline-block;
  color: #8F8F8F;

  composes: montserratSmall;
}

.date {
  composes: montserratSmall;

  margin-top: 12px;
}

.descriptionWrapper {
  composes: montserratSmall;

  display: flex;
  flex-direction: column;

  margin-top: 12px;
}

.descriptionWrapper span {
  margin-top: 8px;
}

.jobCreatorWrapper {
  display: flex;
  justify-content: space-between;
}

.nameAndPhoneWrapper {
  display: flex;
  flex-direction: column;
}

.userName {
  composes: montserratBig;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  display: inline-block;
}

.userPhone {
  composes: montserratSmall;
  font-size: 16px;
  line-height: 19.5px;
  text-decoration: none;

  margin-top: 14px;
}

.userImage {
  width: 58px;
  height: 58px;

  border-radius: 50%;
}

.chatBtn {
  composes: montserratSmall;
  font-weight: 500;
  color: #FFFFFF;

  padding: 12px 0;
  background-color: #6384EB;
  border: 1px solid #6384EB;
  outline: none;
  border-radius: 16px;
}

.footerWrapper {
  position: fixed;
  bottom: 0;
  z-index: 1;
  background: #FFFFFF;
}


/* iPhone 5/5s/SE*/
@media (min-width: 320px) and (max-width: 359px) {
  /* Common Styles */
  .container {
    width: 320px;
  }

  /* Main Styles */
  .jobWrapper {
    width: 275px;
  }

  .description {
    margin-top: 20px;
  }

  .jobCreatorWrapper {
    margin-top: 28px;
  }

  .userName {
    width: 200px;
  }

  .chatBtn {
    width: 275px;
    margin-top: 30px;
    margin-bottom: 80px;
  }

  .footerWrapper {
    width: 320px;
    padding-bottom: 3px;
  }
}

/*@media (max-width: 360px) {*/
/*  !* Common Styles *!*/
/*  .container {*/
/*    width: 360px;*/
/*  }*/

/*  !* Main Styles *!*/
/*  .jobWrapper {*/
/*    width: 300px;*/
/*  }*/

/*  .description {*/
/*    margin-top: 20px;*/
/*  }*/

/*  .jobCreatorWrapper {*/
/*    margin-top: 28px;*/
/*  }*/

/*  .userName {*/
/*    width: 200px;*/
/*  }*/

/*  .chatBtn {*/
/*    width: 300px;*/
/*    margin-top: 30px;*/
/*    margin-bottom: 80px;*/
/*  }*/

/*  .footerWrapper {*/
/*    width: 360px;*/
/*    padding-bottom: 5px;*/
/*  }*/
/*}*/

/* iPhone 6/7/8 */
@media (min-width: 375px) and (max-width: 413px) {
  /* Common Styles */
  .container {
    width: 375px;
  }

  /* Main Styles */
  .jobWrapper {
    width: 302px;
  }

  .description {
    margin-top: 15px;
  }

  .jobCreatorWrapper {
    margin-top: 30px;
  }

  .userName {
    width: 220px;
  }

  .chatBtn {
    width: 302px;
    margin: 30px 0 80px;
  }

  .footerWrapper {
    width: 375px;
    padding: 4px 0 3px;
  }
}
