/* Common Styles */

.montserratBig {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #262D33;
}

.montserratSmall {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #262D33;
}

/* Main Styles */

.jobWrapper {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  word-wrap: break-word;
}

.title {
  composes: montserratBig;
}

.salary {
  composes: montserratBig;
  font-weight: 700;

  margin-top: 7px;
}

.description {
  display: inline-block;
  color: #8F8F8F;

  composes: montserratSmall;
}

.date {
  composes: montserratSmall;

  margin-top: 12px;
}

.descriptionWrapper {
  composes: montserratSmall;

  display: flex;
  flex-direction: column;

  margin-top: 12px;
}

.descriptionWrapper span {
  margin-top: 8px;
}

.jobCreatorWrapper {
  display: flex;
  justify-content: space-between;
}

.nameAndPhoneWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userName {
  composes: montserratBig;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  display: inline-block;
}

.userPhone {
  composes: montserratSmall;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;

  margin-top: 14px;
}

.userImage {
  width: 58px;
  height: 58px;

  border-radius: 50%;
}

.chatBtn {
  composes: montserratSmall;
  font-weight: 500;
  color: #FFFFFF;

  padding: 12px 0;
  background-color: #6384EB;
  border: 1px solid #6384EB;
  outline: none;
  border-radius: 16px;
}

.footerWrapper {
  position: fixed;
  bottom: 0;
  z-index: 1;
  background: #FFFFFF;
}


/* iPhone 5/5s/SE*/
@media screen and (min-width: 320px) {
  /* Common Styles */
  .container {
    min-width: 320px;
  }

  /* Main Styles */
  .jobWrapper {
    width: 275px;
  }

  .description {
    margin-top: 20px;
  }

  .jobCreatorWrapper {
    margin-top: 28px;
  }

  .userName {
    width: 200px;
  }

  .chatBtn {
    width: 275px;
    margin-top: 30px;
    margin-bottom: 80px;
  }

  .footerWrapper {
    width: 100%;
    padding-bottom: 3px;
  }
}

/* Androids...*/
@media screen and (min-width: 360px) {
  /* Common Styles */
  .container {
    min-width: 360px;
  }

  /* Main Styles */
  .jobWrapper {
    width: 302px;
  }

  .description {
    margin-top: 15px;
  }

  .jobCreatorWrapper {
    margin-top: 30px;
  }

  .userName {
    width: 220px;
  }

  .chatBtn {
    width: 302px;
    margin: 30px 0 80px;
  }

  .footerWrapper {
    width: 100%;
    padding: 4px 0 3px;
  }
}

/* iPhone 6/7/8 */
@media screen and (min-width: 375px) {
  /* Common Styles */
  .container {
    min-width: 375px;
  }

  /* Main Styles */
  .jobWrapper {
    width: 302px;
  }

  .description {
    margin-top: 15px;
  }

  .jobCreatorWrapper {
    margin-top: 30px;
  }

  .userName {
    width: 220px;
  }

  .chatBtn {
    width: 302px;
    margin: 30px 0 80px;
  }

  .footerWrapper {
    width: 100%;
    padding: 4px 0 3px;
  }
}

/* iPhone 6+/7+/8+ and Popular Androids */
@media screen and (min-width: 412px) {
  /* Common Styles */
  .container {
    min-width: 412px;
  }

  /* Main Styles */
  .jobWrapper {
    width: 334px;
  }

  .description {
    margin-top: 15px;
  }

  .jobCreatorWrapper {
    margin-top: 30px;
  }

  .userName {
    width: 260px;
  }

  .chatBtn {
    width: 334px;
    margin: 30px 0 90px;
  }

  .footerWrapper {
    width: 100%;
    padding: 4px 0 10px;
  }
}

/* Samsung Galaxy Note 5 / LG G5 / One Plus 3 */
@media screen and (min-width: 480px) {
  /* Common Styles */
  .container {
    min-width: 480px;
  }

  /* Main Styles */
  .jobWrapper {
    width: 400px;
  }

  .title, .salary {
    font-size: 18px;
    line-height: 20px;
  }

  .description,
  .descriptionWrapper,
  .date {
    font-size: 17px;
    line-height: 19px;
  }

  .description {
    margin-top: 15px;
  }

  .jobCreatorWrapper {
    margin-top: 30px;
  }

  .userName {
    width: 260px;
    font-size: 17px;
    line-height: 19px;
  }

  .userPhone {
    font-size: 17px;
    line-height: 19px;
  }

  .userImage {
    width: 70px;
    height: 70px;
  }

  .chatBtn {
    font-size: 17px;
    line-height: 19px;
    width: 400px;
    margin: 30px 0 90px;
  }

  .footerWrapper {
    width: 100%;
    padding: 4px 0 10px;
  }
}

/* iPhone 11 Pro / X / XS */
@media screen and (min-width: 375px) and (min-height: 812px) {
  .chatBtn {
    width: 302px;
    margin: 30px 0 20px;
  }
}
