.sortFilterButtons {
  display: flex;
  justify-content: space-between;
}

/* iPhone 5/5s/SE*/
@media (min-width: 320px) and (max-width: 359px) {
  .sortFilterButtons {
    width: 286px;
    margin: 33px auto 0;
  }
}

/*@media (max-width: 360px) {*/
/*  .sortFilterButtons {*/
/*    width: 330px;*/
/*    margin: 33px auto 0;*/
/*  }*/
/*}*/

/* iPhone 6/7/8 */
@media (min-width: 375px) and (max-width: 413px) {
  .sortFilterButtons {
    width: 343px;
    margin: 20px auto 0;
  }
}

/* iPhone 6+/7+/8+ */
@media (min-width: 414px) and (max-width: 767px) {
  .sortFilterButtons {
    width: 358px;
    margin: 15px auto 0;
  }
}