.sortFilterButtons {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 359px) {
  .sortFilterButtons {
    width: 286px;
    margin: 33px auto 0;
  }
}

/*@media (max-width: 360px) {*/
/*  .sortFilterButtons {*/
/*    width: 330px;*/
/*    margin: 33px auto 0;*/
/*  }*/
/*}*/

@media (min-width: 375px) and (max-width: 413px) {
  .sortFilterButtons {
    width: 343px;
    margin: 20px auto 0;
  }
}