.wrapper {
  background: #FFFFFF;
  margin: 0 auto;
}

/* iPhone 5/5s/SE*/
@media (min-width: 320px) and (max-width: 359px) {
  .wrapper {
    max-width: 359px;
  }
}

/*Androids...*/
@media (min-width: 360px) and (max-width: 374px)  {
  .wrapper {
    max-width: 374px;
  }
}

/* iPhone 6/7/8 */
@media (min-width: 375px) and (max-width: 413px) {
  .wrapper {
    max-width: 413px;
  }
}

/* iPhone 6+/7+/8+ */
@media (min-width: 414px) and (max-width: 767px) {
  .wrapper {
    max-width: 767px;
  }
}