.roboto {
  font-family: 'Roboto Medium', sans-serif;
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.navWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  composes: roboto;
}

.nav img {
  display: block;
}

.active {
  color: #6384EB;
}

.active img {
  filter: invert(53%) sepia(28%) saturate(5061%) hue-rotate(206deg) brightness(97%) contrast(89%);
}

/* iPhone 5/5s/SE */
@media (min-width: 320px) and (max-width: 359px) {
  .footer {
    padding-top: 5px;
  }

  .navWrapper {
    width: 93px;
  }

  .nav img {
    margin: 0 auto 9px;
    width: 24px;
    height: 24px;
  }
}

/* Androids...*/
/*@media (max-width: 360px) {*/
/*  .footer {*/
/*    padding-top: 5px;*/
/*  }*/

/*  .navWrapper {*/
/*    width: 125px;*/
/*  }*/

/*  .nav img {*/
/*    margin: 0 auto 9px;*/
/*    width: 24px;*/
/*    height: 24px;*/
/*  }*/
/*}*/

/* iPhone 6/7/8 */
@media (min-width: 375px) and (max-width: 413px) {
  .navWrapper {
    width: 125px;
  }

  .nav {
    font-size: 14px;
    line-height: 17px;
  }

  .nav img {
    margin: 0 auto 8px;
    width: 24px;
    height: 24px;
  }
}

/* iPhone 6+/7+/8+ */
@media (min-width: 414px) and (max-width: 767px) {
  .navWrapper {
    width: 138px;
  }

  .nav {
    font-size: 14px;
    line-height: 17px;
  }

  .nav img {
    margin: 0 auto 8px;
    width: 28px;
    height: 28px;
  }
}

/* iPhone X/11*/
/*@media (max-width: 375px) and (min-height: 812px) {*/
/*  .footer {*/
/*    padding-top: 11px;*/
/*  }*/

/*  .navWrapper {*/
/*    width: 112px;*/
/*  }*/

/*  .nav {*/
/*    font-size: 14px;*/
/*    line-height: 17px;*/
/*  }*/

/*  .nav img {*/
/*    margin: 0 auto 8px;*/
/*    width: 28px;*/
/*    height: 28px;*/
/*  }*/
/*}*/









