/* Common Styles */
.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile img {
    width: 27px;
    height: 27px;
}

.chatImg {
    margin: 13px 0 13px 10px;
}

.profileImg {
    margin: 13px 10px 13px 0;
}

/* iPhone 6+/7+/8+ and Popular Androids */
@media screen and (min-width: 412px) {
    .profile img {
        width: 32px;
        height: 32px;
    }

    .chatImg {
        margin: 20px 0 15px 20px;
    }

    .profileImg {
        margin: 20px 20px 15px 0;
    }
}

/* Samsung Galaxy Note 5 / LG G5 / One Plus 3 */
@media screen and (min-width: 480px) {
    .profile img {
        width: 36px;
        height: 36px;
    }
}

/* iPhone 11 Pro / X / XS */
@media screen and (min-width: 375px) and (height: 812px) {
    .profile img {
        margin: 13px 20px 13px 0;
        width: 32px;
        height: 32px;
    }
}

@media screen and (min-width: 1366px) {
    .profile img {
        margin: 10px 10px 10px 0;
        width: 30px;
        height: 30px;
    }

    .chatImg {
        margin: 10px 0 10px 10px;
    }

    .profileImg {
        margin: 10px 10px 10px 0;
    }
}


