/* Common Styles */
.profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* iPhone 5/5s/SE */
@media (min-width: 320px) and (max-width: 359px) {
  .profile img {
    margin: 13px 20px 13px 0;
    width: 27px;
    height: 27px;
  }
}

/* Androids...*/
/*@media (max-width: 360px) {*/
/*  .profile img {*/
/*    margin: 23px 20px 20px 0;*/
/*    width: 27px;*/
/*    height: 27px;*/
/*  }*/
/*}*/

 /*iPhone 6/7/8 */
@media (min-width: 375px) and (max-width: 413px) {
  .profile img {
    margin: 13px 20px 13px 0;
    width: 27px;
    height: 27px;
  }
}

/* iPhone X/11*/
/*@media (max-width: 375px) and (min-height: 812px) {*/
/*  .profile img {*/
/*    margin: 26px 20px 20px 0;*/
/*    width: 32px;*/
/*    height: 32px;*/
/*  }*/
/*}*/



