/* Common Styles */
.profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* iPhone 5/5s/SE */
@media screen and (min-width: 320px) {
  .profile img {
    margin: 13px 20px 13px 0;
    width: 27px;
    height: 27px;
  }
}

/* Androids...*/
@media screen and (min-width: 360px) {
  .profile img {
    margin: 13px 20px 13px 0;
    width: 27px;
    height: 27px;
  }
}

 /*iPhone 6/7/8 */
@media screen and (min-width: 375px) {
  .profile img {
    margin: 13px 20px 13px 0;
    width: 27px;
    height: 27px;
  }
}

/* iPhone 6+/7+/8+ and Popular Androids */
@media screen and (min-width: 412px) {
  .profile img {
    margin: 20px 20px 15px 0;
    width: 32px;
    height: 32px;
  }
}

/* Samsung Galaxy Note 5 / LG G5 / One Plus 3 */
@media screen and (min-width: 480px) {
  .profile img {
    margin: 20px 20px 15px 0;
    width: 36px;
    height: 36px;
  }
}

/* iPhone 11 Pro / X / XS */
@media screen and (min-width: 375px) and (min-height: 812px) {
  .profile img {
    margin: 13px 20px 13px 0;
    width: 32px;
    height: 32px;
  }
}



