/* Common Styles */
.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
}

.headerWrapperUnauthorized {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 13px;
}

.headerWrapper img {
    width: 27px;
    height: 27px;
}

.headerWrapperUnauthorized img {
    width: 27px;
    height: 27px;
}

.chatImg {
    margin-left: 10px;
}

.profileImg {
    margin-right: 10px;
}

/* iPhone 11 Pro / X / XS */
@media screen and (min-width: 375px) and (height: 812px) {
    .headerWrapper img {
        width: 32px;
        height: 32px;
    }

    .headerWrapperUnauthorized img {
        width: 32px;
        height: 32px;
    }
}

/* iPhone 6+/7+/8+ and Popular Androids */
@media screen and (min-width: 412px) {
    .headerWrapper {
        margin-top: 20px;
    }

    .headerWrapperUnauthorized {
        margin-top: 20px;
    }

    .headerWrapper img {
        width: 32px;
        height: 32px;
    }

    .headerWrapperUnauthorized img {
        width: 32px;
        height: 32px;
    }

    .chatImg {
        margin-left: 20px;
    }

    .profileImg {
        margin-right: 20px;
    }
}

/* Samsung Galaxy Note 5 / LG G5 / One Plus 3 */
@media screen and (min-width: 480px) {
    .headerWrapper img {
        width: 36px;
        height: 36px;
    }

    .headerWrapperUnauthorized img {
        width: 36px;
        height: 36px;
    }
}

@media screen and (min-width: 1366px) {
    .headerWrapper img {
        width: 36px;
        height: 36px;
    }

    .headerWrapperUnauthorized img {
        width: 36px;
        height: 36px;
    }
}


