.footer {
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
  padding-top: 14px;
}


.footer img {
  display: block;
  margin: 0 auto 10px;
}

.footer div:nth-child(2) img {
  margin: 0 auto 12px;
}

.footer a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #6A6A6A;
  text-decoration: none;
}

.offerJob img {
  margin: 0 auto 12.2px;
}
