.footer {
  display: flex;
  justify-content: space-around;
  white-space: nowrap;
}

.footer img {
  display: block;
  margin: 0 auto 10px;
}

.footer a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #262D33;
  text-decoration: none;
}
