.sortFilterButtons {
  width: 343px;
  margin: 12px auto 0;
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 169px;
  height: 32px;
  background: #DADADA;
  border: 1px solid #DADADA;
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #262D33;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  text-align: center;
  padding-top: 8px;
}

.active {
  background-color: #CBF6FF;
  border: 1px solid #CBF6FF;
}