.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.wrapperClass {
  width: 343px;
  display: flex;
  margin-top: 30px;
}

.backBtn {
  content: url("../../Assets/img/arrow-left.svg");
}

.heading {
  composes: montserrat;
  display: inline-block;
  margin: 0 auto;
}