* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.fileInput {
    -webkit-appearance: none;
    border-radius: 50%;
    outline: none;
    /*opacity: 0;*/
    width: 15px;
    height: 15px;
    position: absolute;
    top: 75%;
    right: 5%;
    z-index: 200;
}

.reactCrop {
    /*position: absolute;*/
}

.imageCropUploadWrapper {
    position: absolute;
    z-index: 200;
    top: 0;
    /*left: -136%;*/
    overflow: hidden;
    width: 100vw;
}

.avatarBtnsWrapper {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.removeAvatar, .confirmAvatar {
    width: 30px;
    height: 30px;
}