/* Common Classes */
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #262D33;
}

.chooseExpPageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.chooseExpImgBackground {
  width: 100%;
}

.chooseExpText {
  composes: montserrat;
  position: absolute;
  z-index: 1;
  left: 50%;
}

.chooseExpFinishBtn {
  composes: montserrat;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #6384EB;
  color: #FFFFFF;
  border: 1px solid #6384EB;
  border-radius: 50px;
  padding: 14px 0;
  width: 185px;
}

/* Choose Experience Page */
.yearExpBtnsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expBtn {
  composes: montserrat;
  font-size: 14px;
  line-height: 17px;
  background-color: transparent;
  outline: none;
  border: 1px solid #AFAFAF;
  color: #000000;
}

.expBtn:focus {
  border: 1px solid #6384EB;
  background-color: #b6c5fd;
}

/* iPhone 5/5s/SE*/
@media screen and (min-width: 320px) {
  /* Choose Experience Page */
  .chooseExpPageWrapper {
    min-width: 320px;
  }

  .chooseExpTextWrapper {
    width: 220px;
  }

  .chooseExpText {
    font-size: 16px;
    line-height: 19px;

    top: 250px;
    width: 220px;
    margin-left: -110px;
  }

  .yearExpBtnsWrapper {
    width: 280px;
    margin-top: 30px;
  }

  .expBtn {
    width: 42px;
    height: 34px;
    line-height: 34px;
  }

  .chooseExpFinishBtn {
    margin-top: 28px;
  }
}

/*Androids...*/
@media screen and (min-width: 360px)  {
  .chooseExpPageWrapper {
    min-width: 360px;
  }

  .chooseExpTextWrapper {
    width: 290px;
  }

  .chooseExpText {
    top: 320px;
    width: 300px;
    margin-left: -150px;
  }

  .yearExpBtnsWrapper {
    width: 330px;
    margin-top: 100px;
  }

  .expBtn {
    width: 56px;
    height: 41px;
    line-height: 41px;
  }

  .chooseExpFinishBtn {
    margin-top: 46px;
  }
}


/* iPhone 6/7/8 */
@media screen and (min-width: 375px) {
  .chooseExpPageWrapper {
    min-width: 375px;
  }

  .chooseExpTextWrapper {
    width: 290px;
  }

  .chooseExpText {
    top: 320px;
    width: 300px;
    margin-left: -150px;
  }

  .yearExpBtnsWrapper {
    width: 330px;
    margin-top: 100px;
  }

  .expBtn {
    width: 56px;
    height: 41px;
    line-height: 41px;
  }

  .chooseExpFinishBtn {
    margin-top: 46px;
  }
}

/* iPhone 6+/7+/8+ and Popular Androids */
@media screen and (min-width: 412px) {
  .chooseExpPageWrapper {
    min-width: 412px;
  }

  .chooseExpTextWrapper {
    width: 290px;
  }

  .chooseExpText {
    top: 360px;
    width: 300px;
    margin-left: -150px;
  }

  .yearExpBtnsWrapper {
    width: 330px;
    margin-top: 20px;
  }

  .expBtn {
    width: 56px;
    height: 41px;
    line-height: 41px;
  }

  .chooseExpFinishBtn {
    margin-top: 45px;
  }
}

/* Samsung Galaxy Note 5 / LG G5 / One Plus 3 */
@media screen and (min-width: 480px) {
  .chooseExpPageWrapper {
    min-width: 480px;
  }

  .chooseExpTextWrapper {
    width: 290px;
  }

  .chooseExpText {
    font-size: 18px;
    line-height: 23px;
    top: 400px;
    width: 300px;
    margin-left: -150px;
  }

  .yearExpBtnsWrapper {
    width: 330px;
    margin-top: 100px;
  }

  .expBtn {
    width: 56px;
    height: 41px;
    line-height: 41px;
  }

  .chooseExpFinishBtn {
    margin-top: 105px;
  }
}