/* Common Classes */
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #262D33;
}

.chooseInstrumentPageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.chooseInstBtn {
  composes: montserrat;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #6384EB;
  color: #FFFFFF;
  border: 1px solid #6384EB;
  border-radius: 50px;
  padding: 14px 0;
  width: 185px;
}

.chooseInstBackground {
  position: relative;
  z-index: 0;
}

.chooseInstText {
  composes: montserrat;
  position: absolute;
  z-index: 1;
  left: 50%;
}

/* iPhone 5/5s/SE*/
@media (min-width: 320px) and (max-width: 359px) {
  /* Choose Instrument Page */
  .chooseInstrumentPageWrapper {
    width: 320px;
  }

  .chooseInstBackground {
    width: 320px;
  }

  .chooseInstText {
    width: 200px;
    font-size: 16px;
    line-height: 19px;
    top: 290px;
    margin-left: -100px;
  }

  .selectInstrument {
    composes: montserrat;
    margin-top:30px;
  }

  .chooseInstBtn {
    margin: 20px 0 0;
  }
}

/*Androids...*/
@media (min-width: 360px) and (max-width: 374px)  {
  /* Choose Instrument Page */
  .chooseInstrumentPageWrapper {
    max-width: 374px;
  }

  .chooseInstBackground {
    width: 360px;
  }

  .chooseInstText {
    width: 220px;
    font-size: 18px;
    line-height: 23px;
    top: 360px;
    margin-left: -110px;
  }

  .selectInstrument {
    composes: montserrat;
    margin-top: 110px;
  }

  .chooseInstBtn {
    margin: 35px 0 20px 0;
  }
}

/* iPhone 6/7/8 */
@media (min-width: 375px) and (max-width: 413px) {
  /* Choose Instrument Page */
  .chooseInstrumentPageWrapper {
    width: 375px;
  }

  .chooseInstBackground {
    width: 375px;
  }

  .chooseInstText {
    width: 220px;
    font-size: 18px;
    line-height: 23px;
    top: 360px;
    margin-left: -110px;
  }

  .selectInstrument {
    composes: montserrat;
    margin-top: 110px;
  }

  .chooseInstBtn {
    margin: 35px 0 20px 0;
  }
}

/* iPhone 6+/7+/8+ */
@media (min-width: 414px) and (max-width: 767px) {
  .chooseInstrumentPageWrapper {
    width: 414px;
  }

  .chooseInstBackground {
    width: 414px;
  }

  .chooseInstText {
    width: 220px;
    font-size: 18px;
    line-height: 23px;
    top: 390px;
    margin-left: -110px;
  }

  .selectInstrument {
    composes: montserrat;
    margin-top: 30px;
  }

  .chooseInstBtn {
    margin: 34px 0 20px 0;
  }
}