/* Common Classes */
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #262D33;
}

.chooseInstrumentPageWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.chooseInstBtn {
  composes: montserrat;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #6384EB;
  color: #FFFFFF;
  border: 1px solid #6384EB;
  border-radius: 50px;
  padding: 14px 0;
  width: 185px;
}

.chooseInstBackground {
  position: relative;
  z-index: 0;
  width: 100%;
}

.chooseInstText {
  composes: montserrat;
  position: absolute;
  z-index: 1;
  left: 50%;
}

.selectInstrument {
  composes: montserrat;
}

/* iPhone 5/5s/SE*/
@media screen and (min-width: 320px) {
  /* Choose Instrument Page */
  .chooseInstText {
    width: 200px;
    font-size: 16px;
    line-height: 19px;
    top: 290px;
    margin-left: -100px;
  }

  .selectInstrument {
    margin-top:30px;
  }

  .chooseInstBtn {
    margin: 20px 0 0;
  }
}

/*Androids...*/
@media screen and (min-width: 360px)  {
  /* Choose Instrument Page */
  .chooseInstText {
    width: 220px;
    font-size: 18px;
    line-height: 23px;
    top: 360px;
    margin-left: -110px;
  }

  .selectInstrument {
    margin-top: 110px;
  }

  .chooseInstBtn {
    margin: 35px 0 20px 0;
  }
}

/* iPhone 6/7/8 */
@media screen and (min-width: 375px) {
  /* Choose Instrument Page */
  .chooseInstText {
    width: 220px;
    font-size: 18px;
    line-height: 23px;
    top: 360px;
    margin-left: -110px;
  }

  .selectInstrument {
    margin-top: 110px;
  }

  .chooseInstBtn {
    margin: 35px 0 20px 0;
  }
}

/* iPhone 6+/7+/8+ and Popular Androids */
@media screen and (min-width: 412px) {
  .chooseInstText {
    width: 220px;
    font-size: 18px;
    line-height: 23px;
    top: 390px;
    margin-left: -110px;
  }

  .selectInstrument {
    margin-top: 30px;
  }

  .chooseInstBtn {
    margin: 34px 0 20px 0;
  }
}

/* Samsung Galaxy Note 5 / LG G5 / One Plus 3 */
@media screen and (min-width: 480px) {
  .chooseInstText {
    width: 220px;
    font-size: 18px;
    line-height: 23px;
    top: 460px;
    margin-left: -110px;
  }

  .selectInstrument {
    margin-top: 100px;
  }

  .chooseInstBtn {
    margin: 104px 0 20px 0;
  }
}

/* iPhone 11 Pro / X / XS */
@media screen and (min-width: 375px) and (min-height: 812px) {
  .chooseInstText {
    width: 220px;
    font-size: 24px;
    line-height: 29px;
    top: 350px;
    margin-left: -110px;
  }

  .selectInstrument {
    margin-top: 150px;
  }

  .chooseInstBtn {
    margin: 36px 0 20px 0;
  }
}