/* Common Classes */
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #262D33;
}

.chooseDaysWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.chooseDaysText {
  composes: montserrat;
  position: absolute;
  z-index: 1;
  left: 50%;
}

.chooseDaysFinishBtn {
  composes: montserrat;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #6384EB;
  color: #FFFFFF;
  border: 1px solid #6384EB;
  border-radius: 50px;
  padding: 14px 0;
  width: 185px;
}

.chooseDaysBackground {
  position: relative;
  z-index: 0;
  width: 100%;
}

.calendarBtn {
  composes: montserrat;
  font-size: 14px;
  width: 260px;
  padding: 11px 0;
  border-radius: 13px;
  border: 1px solid #DADADA;
  background-color: #FFFFFF;
}

.showBtn {
  display: none;
}

.calendarContainer {
  composes: montserrat;
  position: absolute;
  z-index: 1;
  top: 330px;
  left: 50%;
  margin-left: -140.5px;
}

/* iPhone 5/5s/SE*/
@media screen and (min-width: 320px) {
  .chooseDaysWrapper {
    min-width: 320px;
  }

  .chooseDaysTextWrapper {
    width: 220px;
  }

  .chooseDaysText {
    font-size: 16px;
    line-height: 19px;

    top: 280px;
    width: 220px;
    margin-left: -110px;
  }

  .calendarBtn {
    line-height: 16px;
    margin-top: 50px;
  }

  .calendarContainer {
    top: 280px;
    margin-left: -114.5px;
    padding-bottom: 70px;
  }

  .calendarContainer > div {
    font-size: 13px;
  }

  .chooseDaysFinishBtn {
    margin-top: 15px;
  }
}

/*Androids...*/
@media screen and (min-width: 360px)  {
  .chooseDaysWrapper {
    min-width: 360px;
  }

  .chooseDaysTextWrapper {
    width: 290px;
  }

  .chooseDaysText {
    top: 350px;
    width: 340px;
    margin-left: -170px;
  }

  .calendarBtn {
    line-height: 17px;
    margin-top: 116px;
  }

  .chooseDaysFinishBtn {
    margin-top: 30px;
  }

  .calendarContainer {
    top: 330px;
    padding-bottom: 60px;
  }
}


/* iPhone 6/7/8 */
@media screen and (min-width: 375px) {
  .chooseDaysWrapper {
    min-width: 375px;
  }

  .chooseDaysTextWrapper {
    width: 290px;
  }

  .chooseDaysText {
    top: 350px;
    width: 340px;
    margin-left: -170px;
  }

  .calendarBtn {
    line-height: 17px;
    margin-top: 116px;
  }

  .chooseDaysFinishBtn {
    margin-top: 30px;
  }

  .calendarContainer {
    top: 330px;
    padding-bottom: 60px;
  }
}

/* iPhone 6+/7+/8+ and Popular Androids */
@media screen and (min-width: 412px) {
  .chooseDaysWrapper {
    min-width: 412px;
  }

  .chooseDaysTextWrapper {
    width: 290px;
  }

  .chooseDaysText {
    top: 380px;
    width: 340px;
    margin-left: -170px;
  }

  .calendarBtn {
    line-height: 17px;
    margin-top: 30px;
  }

  .chooseDaysFinishBtn {
    margin-top: 35px;
  }

  .calendarContainer {
    top: 360px;
    padding-bottom: 80px;
  }
}

/* Samsung Galaxy Note 5 / LG G5 / One Plus 3 */
@media screen and (min-width: 480px) {
  .chooseDaysWrapper {
    min-width: 480px;
  }

  .chooseDaysTextWrapper {
    width: 290px;
  }

  .chooseDaysText {
    font-size: 18px;
    line-height: 23px;
    top: 440px;
    width: 340px;
    margin-left: -170px;
  }

  .calendarBtn {
    line-height: 17px;
    margin-top: 120px;
  }

  .chooseDaysFinishBtn {
    margin-top: 85px;
  }

  .calendarContainer {
    margin-left: -141px;
    top: 440px;
    padding-bottom: 80px;
  }

  .calendarContainer > div {
    font-size: 16px;
  }
}