/* Common Classes */

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #262D33;
}

.flexWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.commonBtn {
  composes: montserrat;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #6384EB;
  color: #FFFFFF;
  border: 1px solid #6384EB;
  border-radius: 50px;
  padding: 14px 0;
  width: 185px;
}

/* Start Page */
.startPageWrapper {
  composes: flexWrapper;
}

.startBtn {
  composes: commonBtn;
}

/* Choose Instrument Page */
.chooseInstrumentPageWrapper {
  composes: flexWrapper;
}

.chooseInstBack {
  position: relative;
  z-index: 0;
}

.chooseInstText {
  composes: montserrat;
  position: absolute;
  z-index: 1;
  left: 50%;
}

.chooseInstBtn {
  composes: commonBtn;
}

/* Choose Experience Page */
.chooseExpPageWrapper {
  composes: flexWrapper;
}

.yearExpBtnsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expBtn {
  composes: montserrat;
  font-size: 14px;
  line-height: 17px;
  background-color: transparent;
  outline: none;
  border: 1px solid #AFAFAF;
  color: #000000;
}

.expBtn:focus {
  border: 1px solid #6384EB;
  background-color: #b6c5fd;
}

/* Choose Free Days Page */
.chooseDaysWrapper {
  composes: flexWrapper;
}

.chooseDaysBack {
  position: relative;
  z-index: 0;
}

.calendarBtn {
  composes: montserrat;
  font-size: 14px;
  width: 260px;
  padding: 11px 0;
  border-radius: 13px;
  border: 1px solid #DADADA;
  background-color: #FFFFFF;
}

.showBtn {
  display: none;
}

.calendarContainer {
  composes: montserrat;
  position: absolute;
  z-index: 1;
  top: 420px;
  left: 50%;
  margin-left: -140.5px;
}

.finishBtn {
  position: absolute;
  z-index: 1;
  top: 630px;
  left: 50%;
  margin-left: -92.5px;
}

@media (min-width: 320px) and (max-width: 359px) {
  /* Common Styling */
  .startPageWrapper {
    composes: flexWrapper;
    width: 320px;
  }

  .imgWrapper {
    position: relative;
    height: 380px;
  }

  .startImgBack {
    width: 320px;
    height: 380px;
  }

  .logo {
    position: relative;
    width: 87px;
    height: 19px;
    top: 47px;
    z-index: 1;
  }

  .textWrapper {
    width: 104px;
  }

  /* Start Page */
  .startText {
    composes: montserrat;
    font-size: 18px;
    line-height: 22px;
    display: block;
    margin-top: 20px;
  }

  .startBtn {
    margin: 34px 0 30px;
  }

  /* Choose Instrument Page */
  .chooseInstBack {
    width: 320px;
  }

  .chooseInstText {
    width: 111px;
    font-size: 18px;
    line-height: 22px;
    top: 355px;
    margin-left: -55.5px;
  }

  .selectInstrument {
    composes: montserrat;
    margin-top: 48px;
  }

  .chooseInstBtn {
    composes: commonBtn;
    margin: 30px 0 26px;
  }

  /* Choose Experience Page */
  .chooseExpPageWrapper {
    width: 320px;
  }

  .chooseExpImgBack {
    width: 320px;
  }

  .chooseExpTextWrapper {
    width: 220px;
  }

  .chooseExpText {
    composes: chooseInstText;
    top: 350px;
    width: 220px;
    margin-left: -110px;
  }

  .yearExpBtnsWrapper {
    width: 280px;
    margin-top: 60px;
  }

  .expBtn {
    width: 42px;
    height: 34px;
    line-height: 34px;
  }

  .chooseExpFinishBtn {
    composes: commonBtn;
    margin-top: 26px;
  }

  /* Choose Free Days Page */
  .chooseDaysBack {
    width: 320px;
  }

  .chooseDaysTextWrapper {
    width: 220px;
  }

  .chooseDaysText {
    composes: chooseInstText;
    top: 350px;
    width: 220px;
    margin-left: -110px;
  }

  .calendarBtn {
    line-height: 16px;
    margin-top: 50px;
  }

  .calendarContainer {
    top: 340px;
    margin-left: -114.5px;
  }

  .calendarContainer > div {
    font-size: 13px;
  }

  .chooseDaysFinishBtn {
    composes: chooseInstBtn;
  }

  .finishBtn {
    top: 530px;
    left: 50%;
    margin-left: -92.5px;
  }
}

@media (min-width: 360px) and (max-height: 640px) {
  /* Common Styling */
  .startPageWrapper {
    composes: flexWrapper;
    width: 360px;
  }

  .imgWrapper {
    position: relative;
    height: 380px;
  }

  .startImgBack {
    width: 360px;
    height: 380px;
  }

  .logo {
    position: relative;
    width: 87px;
    height: 19px;
    top: 47px;
    z-index: 1;
  }

  .textWrapper {
    width: 104px;
  }

  /* Start Page */
  .startText {
    composes: montserrat;
    font-size: 18px;
    line-height: 22px;
    display: block;
    margin-top: 20px;
  }

  .startBtn {
    margin: 80px 0 30px;
  }

  /* Choose Instrument Page */
  .chooseInstBack {
    width: 360px;
  }

  .chooseInstText {
    width: 111px;
    font-size: 18px;
    line-height: 22px;
    top: 380px;
    margin-left: -55.5px;
  }

  .selectInstrument {
    composes: montserrat;
    margin-top: 68px;
  }

  .chooseInstBtn {
    composes: commonBtn;
    margin: 41px 0 26px;
  }

  /* Choose Experience Page */
  .chooseExpPageWrapper {
    width: 360px;
  }

  .chooseExpImgBack {
    width: 360px;
  }

  .chooseExpTextWrapper {
    width: 220px;
  }

  .chooseExpText {
    composes: chooseInstText;
    top: 390px;
    width: 220px;
    margin-left: -110px;
  }

  .yearExpBtnsWrapper {
    width: 280px;
    margin-top: 100px;
  }

  .expBtn {
    width: 42px;
    height: 34px;
    line-height: 34px;
  }

  .chooseExpFinishBtn {
    composes: commonBtn;
    margin-top: 32px;
  }

  /* Choose Free Days Page */
  .chooseDaysBack {
    width: 360px;
  }

  .chooseDaysTextWrapper {
    width: 360px;
  }

  .chooseDaysText {
    composes: chooseInstText;
    top: 390px;
    width: 220px;
    margin-left: -110px;
  }

  .calendarBtn {
    line-height: 16px;
    margin-top: 100px;
  }

  .calendarContainer {
    top: 365px;
    margin-left: -114.5px;
  }

  .calendarContainer > div {
    font-size: 13px;
  }

  .chooseDaysFinishBtn {
    composes: commonBtn;
    margin-top: 26px;
  }

  .finishBtn {
    top: 530px;
    left: 50%;
    margin-left: -92.5px;
    margin-top: 46px;
  }
}

@media (min-width: 375px) {
  /* Common Styling */
  .startPageWrapper {
    composes: flexWrapper;
    width: 375px;
  }

  .imgWrapper {
    position: relative;
    height: 513px;
  }

  .logo {
    position: relative;
    top: 47px;
    z-index: 1;
  }

  .textWrapper {
    width: 142px;
  }

  /* Start Page */
  .startText {
    composes: montserrat;
    font-size: 24px;
    line-height: 29px;
  }

  .startBtn {
    margin: 117px 0 49px 0;
  }

  /* Choose Instrument Page */
  .chooseInstBack {
    width: 375px;
  }

  .chooseInstText {
    width: 142px;
    font-size: 24px;
    line-height: 29px;
    top: 430px;
    margin-left: -71px;
  }

  .selectInstrument {
    composes: montserrat;
    margin-top: 45px;
  }

  .chooseInstBtn {
    composes: commonBtn;
    margin: 117px 0 49px 0;
  }

  /* Choose Experience Page */
  .chooseExpPageWrapper {
    width: 375px;
  }

  .chooseExpImgBack {
    width: 375px;
  }

  .chooseExpTextWrapper {
    width: 290px;
  }

  .chooseExpText {
    composes: chooseInstText;
    top: 420px;
    width: 250px;
    margin-left: -125px;
  }

  .yearExpBtnsWrapper {
    width: 330px;
    margin-top: 60px;
  }

  .expBtn {
    width: 56px;
    height: 41px;
    line-height: 41px;
  }

  .chooseExpFinishBtn {
    composes: commonBtn;
    margin-top: 103px;
  }

  /* Choose Free Days Page */
  .chooseDaysBack {
    width: 375px;
  }

  .chooseDaysTextWrapper {
    width: 290px;
  }

  .chooseDaysText {
    composes: chooseInstText;
    top: 420px;
    width: 250px;
    margin-left: -125px;
  }

  .calendarBtn {
    line-height: 17px;
    margin-top: 76px;
  }

  .chooseDaysFinishBtn {
    composes: chooseInstBtn;
    margin-top: 87px;
  }

  .finishBtn {
    top: 630px;
    left: 50%;
    margin-left: -92.5px;
  }
}