/* Common Classes */
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #262D33;
}

.imgWrapper {
  width: 100%;
  position: relative;
}

.logo {
  position: relative;
  z-index: 1;
}

/* Choose Instrument Page */
.chooseInstBack {
  position: relative;
  z-index: 0;
}

/* Choose Free Days Page */
.chooseDaysBack {
  position: relative;
  z-index: 0;
}

.finishBtn {
  position: relative;
  z-index: 1;
}

/* iPhone 5/5s/SE*/
@media screen and (min-width: 320px) {
  /* Common Styles */
  .imgWrapper {
    height: 300px;
  }

  .logo {
    width: 87px;
    height: 19px;
    top: 20px;
  }

  .finishBtn {
    top: 180px;
  }
}

/*Androids...*/
@media screen and (min-width: 360px)  {
  /* Common Styles */
  .imgWrapper {
    /*height: 300px;*/
  }

  .logo {
    width: 150px;
    height: 33px;
    top: 20px;
  }

  .finishBtn {
    top: 220px;
  }
}


/* iPhone 6/7/8 */
@media screen and (min-width: 375px) {
  /* Common Styles */
  .imgWrapper {
    height: 300px;
  }

  .logo {
    width: 150px;
    height: 33px;
    top: 20px;
  }

  .finishBtn {
    top: 230px;
  }
}

/* iPhone 6+/7+/8+ and Popular Androids */
@media screen and (min-width: 412px) {
  /* Common Styles */
  .imgWrapper {
    height: 423px;
  }

  .logo {
    width: 150px;
    height: 33px;
    top: 40px;
  }

  .finishBtn {
    top: 190px;
  }
}

/* Samsung Galaxy Note 5 / LG G5 / One Plus 3 */
@media screen and (min-width: 480px) {
  /* Common Styles */
  .imgWrapper {
    height: 423px;
  }

  .logo {
    width: 150px;
    height: 33px;
    top: 40px;
  }

  .finishBtn {
    top: 220px;
  }
}

/* iPhone 11 Pro / X / XS */
@media screen and (min-width: 375px) and (height: 812px) {
  /* Common Styles */
  .imgWrapper {
    height: 300px;
  }

  .logo {
    width: 150px;
    height: 33px;
    top: 30px;
  }

  .finishBtn {
    top: 230px;
  }
}