/* Common Classes */
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #262D33;
}

.imgWrapper {
  position: relative;
}

.logo {
  position: relative;
  z-index: 1;
}

/* Choose Instrument Page */
.chooseInstBack {
  position: relative;
  z-index: 0;
}

/* Choose Free Days Page */
.chooseDaysBack {
  position: relative;
  z-index: 0;
}

/* iPhone 5/5s/SE*/
@media (min-width: 320px) and (max-width: 359px) {
  /* Common Styles */
  .imgWrapper {
    height: 380px;
  }

  .logo {
    width: 87px;
    height: 19px;
    top: 47px;
  }
}


/* iPhone 6/7/8 */
@media (min-width: 375px) and (max-width: 413px) {
  /* Common Styles */
  .imgWrapper {
    height: 300px;
  }

  .logo {
    width: 150px;
    height: 33px;
    top: 20px;
  }
}