/* Common Classes */
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #262D33;
}

.startPageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.startBtn {
  composes: montserrat;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #6384EB;
  color: #FFFFFF;
  border: 1px solid #6384EB;
  border-radius: 50px;
  padding: 14px 0;
  width: 185px;
}

/* iPhone 5/5s/SE*/
@media screen and (min-width: 320px) {
  /* Common Styling */
  .startPageWrapper {
    min-width: 320px;
  }

  .startImgBackground {
    min-width: 320px;
    height: 300px;
  }

  .startTextWrapper {
    width: 104px;
  }

  .startText {
    composes: montserrat;
    font-size: 16px;
    line-height: 19px;
    display: block;
  }

  .startBtn {
    margin: 30px 0 0;
  }
}

/*Androids...*/
@media screen and (min-width: 360px)  {
  /* Common Styling */
  .startPageWrapper {
    min-width: 360px;
  }

  .startTextWrapper {
    width: 142px;
    margin-top: 50px;
  }

  /* Start Page */
  .startImgBackground {
    min-width: 360px;
    height: 300px;
    display: block;
    margin-top: 20px;
  }

  .startText {
    composes: montserrat;
    font-size: 18px;
    line-height: 23px;
    display: block;
    margin-top: 41px;
  }

  .startBtn {
    margin: 50px 0 20px 0;
  }
}

/* iPhone 6/7/8 */
@media screen and (min-width: 375px) {
  /* Common Styling */
  .startPageWrapper {
    min-width: 375px;
  }

  .startTextWrapper {
    width: 142px;
    margin-top: 50px;
  }

  /* Start Page */
  .startImgBackground {
    min-width: 375px;
    height: 300px;
    display: block;
    margin-top: 20px;
  }

  .startText {
    composes: montserrat;
    font-size: 18px;
    line-height: 23px;
    display: block;
    margin-top: 41px;
  }

  .startBtn {
    margin: 50px 0 20px 0;
  }
}

/* iPhone 6+/7+/8+ and Popular Androids */
@media screen and (min-width: 412px) {
  /* Common Styling */
  .startPageWrapper {
    min-width: 412px;
    overflow-x: hidden;
  }

  .startTextWrapper {
    width: 142px;
  }

  /* Start Page */
  .startImgBackground {
    min-width: 412px;
    height: 423px;
    display: block;
    margin-top: 20px;
  }

  .startText {
    composes: montserrat;
    font-size: 18px;
    line-height: 23px;
    display: block;
    margin-top: 10px;
  }

  .startBtn {
    margin: 50px 0 20px 0;
  }
}

/* Samsung Galaxy Note 5 / LG G5 / One Plus 3 */
@media screen and (min-width: 480px) {
  /* Common Styling */
  .startPageWrapper {
    min-width: 480px;
    overflow-x: hidden;
  }

  .startTextWrapper {
    width: 142px;
  }

  /* Start Page */
  .startImgBackground {
    min-width: 480px;
    height: 423px;
    display: block;
    margin-top: 20px;
  }

  .startText {
    composes: montserrat;
    font-size: 18px;
    line-height: 23px;
    display: block;
    margin-top: 50px;
  }

  .startBtn {
    margin: 100px 0 20px 0;
  }
}