.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #262D33;
}

.arrowUp {
  transform: rotate(180deg);
}

.hideContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.showContent {
  max-height: 500px;
  overflow: hidden;
  transition: max-height 0.3s ease-in;
}

@media (min-width: 320px) and (max-width: 374px) {
  .arrowSize {
    width: 13px;
    height: 13px;
  }
}