/* Common Classes*/

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #262D33;
}

/* Header part classes */
.headerWrapper {
  display: flex;
  align-items: center;
  padding: 29px 17px;
  margin: 0 auto;
  background: #CBF6FF;
}

.btnText {
  composes: montserrat;
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
}

.btnText:active {
  color: #6A6A6A;
}

/* Background Image Classes */
.imgWrapper {
  position: absolute;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/* Collapse Buttons */
.btnWrapper {
  display: flex;
  margin-top: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.filterName {
  composes: montserrat;
  width: 100%;
}

/* iPhone 5/5s/SE*/
@media (min-width: 320px) and (max-width: 359px) {
  .filtersPageWrapper {
    width: 320px;
  }

  /* Header part classes */
  .btnText {
    font-size: 12px;
    line-height: 15px;
  }

  /* Background Image Classes */
  .background {
    display: none;
  }

  /* Collapse Buttons */
  .btnWrapper {
    padding: 20px 15px 20px 15px;
  }

  .filterName {
    composes: montserrat;
    font-size: 16px;
    line-height: 19px;
  }
}

/*@media (max-width: 360px) {*/
/*  .filtersPageWrapper {*/
/*    width: 360px;*/
/*  }*/

/*  !* Header part classes *!*/
/*  .btnText {*/
/*    font-size: 14px;*/
/*    line-height: 16px;*/
/*  }*/

/*  !* Background Image Classes *!*/
/*  .background {*/
/*    width: 360px;*/
/*    height: 220px;*/
/*    display: block;*/
/*    margin: 0 auto;*/
/*  }*/

/*  .imgWrapper {*/
/*    height: 220px;*/
/*    top: 420px;*/
/*  }*/

/*  !* Collapse Buttons *!*/
/*  .btnWrapper {*/
/*    padding: 26px 30px 27px 17px;*/
/*  }*/

/*  .filterName {*/
/*    font-size: 18px;*/
/*    line-height: 22px;*/
/*  }*/
/*}*/

/* iPhone 6/7/8 */
@media (min-width: 375px) and (max-width: 413px) {
  .filtersPageWrapper {
    width: 375px;
  }

  /* Header part classes */
  .btnText {
    font-size: 14px;
    line-height: 17px;
  }

  /* Background Image Classes */
  .imgWrapper {
    height: 200px;
    top: 400px;
  }

  .background {
    width: 273px;
    height: 200px;
  }

  /* Collapse Buttons */
  .btnWrapper {
    padding: 25px 20px 25px 15px;
  }

  .filterName {
    font-size: 18px;
    line-height: 22px;
  }
}

/* iPhone 6+/7+/8+ */
@media (min-width: 414px) and (max-width: 767px) {
  .filtersPageWrapper {
    width: 414px;
  }

  /* Header part classes */
  .btnText {
    font-size: 14px;
    line-height: 17px;
  }

  /* Background Image Classes */
  .imgWrapper {
    height: 230px;
    top: 390px;
  }

  .background {
    width: 414px;
    height: 230px;
  }

  /* Collapse Buttons */
  .btnWrapper {
    padding: 25px 15px 25px 15px;
  }

  .filterName {
    font-size: 18px;
    line-height: 22px;
  }
}


