/* Common Classes*/
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #262D33;
}

.filtersPageWrapper {
  width: 100%;
}

/* Header part classes */
.headerWrapper {
  display: flex;
  align-items: center;
  padding: 29px 17px;
  margin: 0 auto;
  background: #CBF6FF;
}

.btnText {
  composes: montserrat;
  font-size: 12px;
  line-height: 15px;
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
}

.btnText:active {
  color: #6A6A6A;
}

/* Background Image Classes */
.imgWrapper {
  position: absolute;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.background {
  width: 100%;
  height: 200px;
}

/* Collapse Buttons */
.btnWrapper {
  display: flex;
  margin-top: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  padding: 20px 15px;
}

.filterName {
  composes: montserrat;
  width: 100%;
}

/* iPhone 5/5s/SE*/
@media screen and (min-width: 320px) {
  /* Background Image Classes */
  .background {
    display: none;
  }
}

/*Androids...*/
@media screen and (min-width: 360px)  {
  /* Header part classes */
  .btnText {
    font-size: 14px;
    line-height: 17px;
  }

  /* Background Image Classes */
  .imgWrapper {
    top: 360px;
  }

  .background {
    display: inline;
  }

  /* Collapse Buttons */
  .filterName {
    font-size: 18px;
    line-height: 22px;
  }
}

/* iPhone 6+/7+/8+ and Popular Androids */
@media screen and (min-width: 412px) {
  /* Background Image Classes */
  .imgWrapper {
    top: 390px;
  }

  .background {
    height: 230px;
  }
}

/* Samsung Galaxy Note 5 / LG G5 / One Plus 3 */
@media screen and (min-width: 480px) {
  /* Background Image Classes */
  .imgWrapper {
    top: 420px;
  }

  .background {
    height: 350px;
  }
}


