.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #262D33;
}

.instrumentsWrapper {
  overflow-y: scroll;
  columns: 2;
}

.instWrapper {
  display: flex;
  align-items: center;
}

.instrumentCheckbox {
  width: 20px;
  height: 20px;
}

.label {
  composes: montserrat;
  margin-left: 10px;
}

.instrument:hover {
  font-weight: 500;
  color: #6384EB;
}

/* iPhone 5/5s/SE*/
@media (min-width: 320px) and (max-width: 359px) {
  .instWrapper {
    padding-top: 10px;
    padding-left: 10px;
  }
}

/*Androids...*/
@media (min-width: 360px) and (max-width: 374px) {
  .instWrapper {
    padding-top: 10px;
    padding-left: 10px;
  }

  .instrumentCheckbox {

  }
}

/* iPhone 6/7/8 */
@media (min-width: 375px) and (max-width: 413px) {
  .instWrapper {
    padding-top: 10px;
    padding-left: 10px;
  }
}

/* iPhone 6+/7+/8+ */
@media (min-width: 414px) and (max-width: 767px) {
  .instWrapper {
    padding-top: 10px;
    padding-left: 10px;
  }
}



