.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.salaryInputWrapper,
.salaryRangeWrapper {
  display: flex;
  justify-content: center;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-top: 15px;
  margin-left: 15px;
}

.input {
  composes: montserrat;
  border: 1px solid #DADADA;
  border-radius: 5px;
  margin-bottom: 5px;
  height: 36px;
  text-align: center;
  outline: none;
}

/* iPhone 5/5s/SE*/
@media screen and (min-width: 320px) {
  .input {
    width: 129px;
  }
}

/*Androids...*/
@media screen and (min-width: 360px) {
  .input {
    width: 150px;
  }
}

/* iPhone 6/7/8 */
@media (min-width: 375px) {
  .input {
    width: 159px;
  }
}

/* iPhone 6+/7+/8+ and Popular Androids */
@media screen and (min-width: 412px) {
  .input {
    width: 180px;
  }
}

/* Samsung Galaxy Note 5 / LG G5 / One Plus 3 */
@media screen and (min-width: 480px) {
  .input {
    width: 210px;
  }
}


