.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #262D33;
}

.instrumentsWrapper {
  overflow-y: scroll;
  columns: 2;
}

.instWrapper {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
}

.instrumentCheckbox {
  width: 20px;
  height: 20px;
}

.label {
  composes: montserrat;
  margin-left: 10px;
}

.instrument:hover {
  font-weight: 500;
  color: #6384EB;
}



