/* Bottom part */

.social_medias {
  width: 290px;
  padding-top: 68px;
  padding-bottom: 45px;
}

.social-medias__text {
  font-size: 12px;
  line-height: 15px;
  color: #6A6A6A;
  margin-bottom: 32px;
}

.social-medias__icons {
  width: 290px;
  display: flex;
  justify-content: space-between;
}

.icons-styles {
  width: 135px;
  height: 35px;
  background-position: 20% 50%;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.social-medias__icons__fb {
  background: url('../../Assets/img/fb-icon.png');
  background-position: 20% 50%;
  background-repeat: no-repeat;
  background-color: #3B5999;
  border: #3B5999;
  color: #FFFFFF;
}

.social-medias__icons__google {
  background: url('../../Assets/img/google-icon.png');
  background-position: 20% 50%;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  border:1px solid #6A6A6A;
  color: #6A6A6A;
}